n8n-templates/Arcads Tool - Remove BG.json
{
  "name": "Arcads Tool - Remove BG",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://external-api.arcads.ai/v1/folders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "=Klasör-{{ $now.format('dd-MM-yyyy') }}"
            },
            {
              "name": "productId",
              "value": "={{ $json.workspace_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -608
      ],
      "id": "34779bdb-1b0a-4b0f-86b8-8184da95a32c",
      "name": "Klasör Oluştur",
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "JJfIYWBt9KFEE8Br",
          "name": "Arcads"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\n\nŞuna uygun bir aktör verisi çek get actors ile ve bunu output olarak ver.\n\n{{ $('When Executed by Another Workflow').item.json.gender_age }}\n\nTooldaki id çıktısını (actor.id DEĞİL, üstteki id değeri), çıktıda id olarak, defaultVoiceId değerini de defaultVoiceId olarak ver."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        80,
        -608
      ],
      "id": "5a13eadc-807b-4a04-8aee-478473f5ba3c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        -720
      ],
      "id": "709697a0-9c04-4825-a43c-a1b22d70234d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yULUzfG7RC6WaY9a",
          "name": "Burhan API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Bu aracı bütün aktör verilerini çekmek için kullan.\n\nactorGender = Filter by actor gender (case-insensitive). Values: male, female\n\nactorAge = Filter by actor age (case-insensitive). Values: adult, senior, young adult",
        "url": "https://external-api.arcads.ai/v1/situations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "pageSize",
              "value": "1"
            },
            {
              "name": "ispro",
              "value": "true"
            },
            {
              "name": "actorGender",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "actorAge",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        48,
        -416
      ],
      "id": "55c95ca0-456e-4cb4-b30e-98185c6ed457",
      "name": "Get Actors",
      "credentials": {
        "httpBasicAuth": {
          "id": "JJfIYWBt9KFEE8Br",
          "name": "Arcads"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"id\": \"\",\n\t\"defaultVoiceId\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        -400
      ],
      "id": "8a981b2a-a2a0-42e6-be0e-e6b1d5a2c0c4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed6b3544-518d-4ff5-85d4-f9ac623ee89e",
              "leftValue": "={{ $json.videoUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        -608
      ],
      "id": "80e3b8ae-16b7-4574-9421-37cfc1ae0db3",
      "name": "If"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        -608
      ],
      "id": "ff30acd8-2c1b-437a-9c81-1940537b91bf",
      "name": "Wait",
      "webhookId": "e4c88be2-b051-4adc-98ce-0f90fd0e74d3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://external-api.arcads.ai/v1/scripts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folderId\": \"{{ $('Klasör Oluştur').item.json.id }}\",\n  \"name\": \"string\",\n  \"text\": \"{{ $('When Executed by Another Workflow').item.json.script }}\",\n  \"videos\": [\n    {\n      \"situationId\": \"{{ $json.output.id }}\",\n      \"voiceId\": \"{{ $json.output.defaultVoiceId }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -608
      ],
      "id": "94001feb-d98b-4e10-87dc-e1c1e909af12",
      "name": "Script",
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "JJfIYWBt9KFEE8Br",
          "name": "Arcads"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://external-api.arcads.ai/v1/scripts/{{ $json.id }}/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -608
      ],
      "id": "ee97b6c1-4fb2-434d-8d75-57d655eb4f52",
      "name": "Üretim",
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "JJfIYWBt9KFEE8Br",
          "name": "Arcads"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ben/v2/video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $('Videoyu Al').item.json.videoUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -208
      ],
      "id": "7d282aaa-3654-46e0-9950-a72ecf0f3380",
      "name": "İstek",
      "credentials": {
        "httpBasicAuth": {
          "id": "JJfIYWBt9KFEE8Br",
          "name": "Arcads"
        },
        "httpHeaderAuth": {
          "id": "HWrf6X4nsntv8BlR",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ben/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        -208
      ],
      "id": "8594d3c7-2fff-4365-a812-5bbed65f5a88",
      "name": "Kontrol",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HWrf6X4nsntv8BlR",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "name": "=Background Removed UGC - {{ $now }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KaKd8b0fmT2ug3PUWZDGbmtH0OKFd9hW",
          "mode": "list",
          "cachedResultName": "Marketing Team",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KaKd8b0fmT2ug3PUWZDGbmtH0OKFd9hW"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3296,
        -224
      ],
      "id": "0c09da10-c8f1-4dde-808c-d03c74510369",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YuJeLDU2kzOhnjsq",
          "name": "49 Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ben/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        -224
      ],
      "id": "404dbc7d-50a3-4e44-871c-37edf057e1f3",
      "name": "Al",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HWrf6X4nsntv8BlR",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3056,
        -224
      ],
      "id": "6b0abf5e-4c09-4688-812e-c6bc23e2f7bc",
      "name": "İndir"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2096,
        -208
      ],
      "id": "cad080f1-796e-40a0-9325-581bd30edf2f",
      "name": "Wait1",
      "webhookId": "1f76d887-9f8a-49be-8cdd-1b1146c4c824"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a8a2d4e-6855-45fd-93c9-205e0a381de8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2528,
        -208
      ],
      "id": "b59aa765-f83a-4e9b-a712-578b285b6832",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://external-api.arcads.ai/v1/scripts/{{ $('Script').item.json.id }}/videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        -608
      ],
      "id": "4f955900-ee5b-41f5-a5c7-0d1ad1e1c2c3",
      "name": "Videoyu Al",
      "credentials": {
        "httpBasicAuth": {
          "id": "JJfIYWBt9KFEE8Br",
          "name": "Arcads"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workspace_id"
            },
            {
              "name": "gender_age"
            },
            {
              "name": "script"
            },
            {
              "name": "telegram_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -496,
        -608
      ],
      "id": "d6013456-5914-4a2d-ad2a-3fe7139a5f80",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10tfLIcw-bnOaiQhlPTE9TGVboqtiX7KPz1mHb9t_zKA",
          "mode": "list",
          "cachedResultName": "Marketing Team",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10tfLIcw-bnOaiQhlPTE9TGVboqtiX7KPz1mHb9t_zKA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10tfLIcw-bnOaiQhlPTE9TGVboqtiX7KPz1mHb9t_zKA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "UGC without background",
            "Link": "={{ $json.webViewLink }}",
            "Title": "=UGC - {{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3504,
        -224
      ],
      "id": "fecdf286-f536-421b-8e72-97d37e2c5914",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8cw6xg8w0MZaVeCC",
          "name": "PROTOTIPAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.telegram_id }}",
        "text": "=Your UGC video is ready and uploaded to Drive and added to sheet.\n\n{{ $('Upload file').item.json.webViewLink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3712,
        -224
      ],
      "id": "771f2d9c-4923-4da4-9b92-77e5b8eedde4",
      "name": "Send a text message",
      "webhookId": "938e1e8c-4b58-4ea6-9c71-e2fa5b09082a",
      "credentials": {
        "telegramApi": {
          "id": "uXHAFQk49G65Euci",
          "name": "marketing_team"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.telegram_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3312,
        0
      ],
      "id": "0f5ff39a-7803-42ca-9210-600c7ce0be4c",
      "name": "Send a video",
      "webhookId": "51205aed-04f4-474b-9d02-0423d0c30b9a",
      "credentials": {
        "telegramApi": {
          "id": "czT9blrJemMNoklz",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "workspace_id": "0c98d250-7dae-4dbb-9531-8351f79b844e",
          "gender_age": "25 yaşında kadın",
          "script": "Leftflow'u kullanmaya başladığımdan beri çok memnunum. Gerçekten hayatımı kolaylaştırdı ve performansı mükemmel!",
          "telegram_id": 5181466144
        }
      }
    ]
  },
  "connections": {
    "Klasör Oluştur": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Actors": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "İstek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Videoyu Al",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script": {
      "main": [
        [
          {
            "node": "Üretim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Üretim": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "İstek": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kontrol": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Al": {
      "main": [
        [
          {
            "node": "İndir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "İndir": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Kontrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Al",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Videoyu Al": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Klasör Oluştur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "921d4dea-0790-47c9-b793-e534bf73a7ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a70a0b6d837a52eddab3f5d152c26cd8b8d05813e4f6e6bc4039667124542103"
  },
  "id": "Ec9GfB59HcLys2lO",
  "tags": []
}