n8n-templates/Grain_Landing_Page_CRO_Hub_v1.json
{
  "name": "Grain Landing Page CRO Hub v1",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $vars.GRAIN_TENANT_ID || 'default' }}"
            },
            {
              "name": "dry_run",
              "value": "={{ $vars.GRAIN_DRY_RUN || false }}"
            },
            {
              "name": "webhook_prefix",
              "value": "={{ $vars.GRAIN_WEBHOOK_PREFIX || '/webhook' }}/{{ $workflow.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "grain-config-8kcnuod0e",
      "name": "GRAIN_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -200,
        -200
      ],
      "notesInFlow": true,
      "notes": "🔧 Central Config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "landing-page/generate",
        "options": {}
      },
      "id": "webhook-gen-lp",
      "name": "Generate Page Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "lp-generate"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Landing Page Specialist. Generate a JSON structure for a high-converting landing page based on the product description.\nStructure: { \"hero_headline\": \"...\", \"hero_subhead\": \"...\", \"benefits\": [], \"features\": [], \"cta_primary\": \"...\", \"cta_secondary\": \"...\" }\nApply persuasion principles (Cialdini)."
            },
            {
              "role": "user",
              "content": "Product: {{ $json.body.product_name }}\nTarget Audience: {{ $json.body.audience }}\nValue Prop: {{ $json.body.value_prop }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "ai-lp-structure",
      "name": "AI Build Page Structure",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "return-page",
      "name": "Return JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "landing-page/form-submit",
        "options": {}
      },
      "id": "webhook-form",
      "name": "Form Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        500
      ],
      "webhookId": "lp-form-submit"
    },
    {
      "parameters": {
        "jsCode": "// Trigger Lead Funnel Workflow via API call or internal trigger\nreturn { json: { ...$input.item.json, source: \"landing_page\" } };"
      },
      "id": "trigger-funnel",
      "name": "Trigger Lead Funnel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        500
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Form_Submissions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.body.email }}",
            "page_id": "={{ $json.body.page_id }}",
            "timestamp": "={{ $now.toISO() }}"
          }
        }
      },
      "id": "save-submission",
      "name": "Save Submission",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        700,
        500
      ]
    }
  ],
  "connections": {
    "Generate Page Request": {
      "main": [
        [
          {
            "node": "AI Build Page Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Build Page Structure": {
      "main": [
        [
          {
            "node": "Return JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Submission": {
      "main": [
        [
          {
            "node": "Trigger Lead Funnel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}