n8n-templates/Grain_Agentic_AI_Orchestrator_v1.json
{
  "name": "Grain Agentic AI Orchestrator v1",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-orchestrator",
      "name": "Orchestrator Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "ai-orchestrator-trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "scheduled-orchestration",
      "name": "Scheduled Task Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 600]
    },
    {
      "parameters": {
        "jsCode": "// Task Router & Context Builder\n// Determines which AI agents to invoke based on task type\n\nconst input = $input.first().json;\n\n// Define available agents and their capabilities\nconst agentRegistry = {\n  lead_enrichment: {\n    name: 'Lead Enrichment Agent',\n    capabilities: ['company_research', 'contact_lookup', 'social_profiles', 'technographics'],\n    priority: 1,\n    timeout: 30000,\n    requiresApproval: false\n  },\n  content_generator: {\n    name: 'Content Generation Agent',\n    capabilities: ['email_copy', 'social_posts', 'ad_copy', 'blog_outlines'],\n    priority: 2,\n    timeout: 60000,\n    requiresApproval: true\n  },\n  sentiment_analyzer: {\n    name: 'Sentiment Analysis Agent',\n    capabilities: ['social_listening', 'review_analysis', 'brand_monitoring'],\n    priority: 2,\n    timeout: 20000,\n    requiresApproval: false\n  },\n  outreach_personalizer: {\n    name: 'Outreach Personalization Agent',\n    capabilities: ['email_personalization', 'message_customization', 'timing_optimization'],\n    priority: 3,\n    timeout: 45000,\n    requiresApproval: true\n  },\n  data_analyst: {\n    name: 'Data Analysis Agent',\n    capabilities: ['trend_analysis', 'forecasting', 'anomaly_detection', 'reporting'],\n    priority: 1,\n    timeout: 90000,\n    requiresApproval: false\n  },\n  crm_updater: {\n    name: 'CRM Update Agent',\n    capabilities: ['contact_update', 'deal_creation', 'activity_logging', 'task_creation'],\n    priority: 4,\n    timeout: 15000,\n    requiresApproval: false\n  }\n};\n\n// Parse task and determine required agents\nconst taskType = input.task_type || input.type || 'general';\nconst taskData = input.data || input;\nconst urgency = input.urgency || 'normal';\n\n// Build execution plan based on task type\nlet executionPlan = [];\n\nswitch (taskType) {\n  case 'new_lead':\n    executionPlan = [\n      { agent: 'lead_enrichment', input: taskData, parallel: true },\n      { agent: 'sentiment_analyzer', input: { query: taskData.company }, parallel: true },\n      { agent: 'outreach_personalizer', input: taskData, parallel: false, dependsOn: ['lead_enrichment', 'sentiment_analyzer'] },\n      { agent: 'content_generator', input: { type: 'email', context: taskData }, parallel: false, dependsOn: ['outreach_personalizer'] },\n      { agent: 'crm_updater', input: taskData, parallel: false, dependsOn: ['content_generator'] }\n    ];\n    break;\n    \n  case 'content_campaign':\n    executionPlan = [\n      { agent: 'data_analyst', input: { type: 'audience_analysis', data: taskData }, parallel: false },\n      { agent: 'content_generator', input: taskData, parallel: false, dependsOn: ['data_analyst'] },\n      { agent: 'outreach_personalizer', input: taskData, parallel: false, dependsOn: ['content_generator'] }\n    ];\n    break;\n    \n  case 'churn_prevention':\n    executionPlan = [\n      { agent: 'sentiment_analyzer', input: taskData, parallel: true },\n      { agent: 'data_analyst', input: { type: 'churn_analysis', customer: taskData }, parallel: true },\n      { agent: 'content_generator', input: { type: 'win_back', context: taskData }, parallel: false, dependsOn: ['sentiment_analyzer', 'data_analyst'] },\n      { agent: 'crm_updater', input: { action: 'log_intervention', data: taskData }, parallel: false, dependsOn: ['content_generator'] }\n    ];\n    break;\n    \n  case 'analytics_report':\n    executionPlan = [\n      { agent: 'data_analyst', input: taskData, parallel: false }\n    ];\n    break;\n    \n  default:\n    // General task - try to infer required agents\n    executionPlan = [\n      { agent: 'data_analyst', input: taskData, parallel: false }\n    ];\n}\n\n// Build context graph for agent coordination\nconst contextGraph = {\n  taskId: `task-${Date.now()}`,\n  taskType,\n  urgency,\n  createdAt: new Date().toISOString(),\n  executionPlan,\n  agentRegistry,\n  originalInput: input,\n  requiresHumanApproval: executionPlan.some(step => \n    agentRegistry[step.agent]?.requiresApproval\n  )\n};\n\nreturn [{ json: contextGraph }];"
      },
      "id": "task-router",
      "name": "Task Router & Context Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Lead Enrichment Agent. Your job is to gather comprehensive information about leads and companies.\n\nGiven a lead, research and return:\n- Company information (size, industry, revenue, funding, tech stack)\n- Contact details and social profiles\n- Recent news and announcements\n- Key decision makers\n- Potential pain points based on industry\n\nReturn JSON:\n{\n  \"company\": {\n    \"name\": \"\",\n    \"industry\": \"\",\n    \"size\": \"\",\n    \"revenue\": \"\",\n    \"funding\": \"\",\n    \"techStack\": [],\n    \"headquarters\": \"\"\n  },\n  \"contact\": {\n    \"fullName\": \"\",\n    \"title\": \"\",\n    \"linkedin\": \"\",\n    \"twitter\": \"\"\n  },\n  \"insights\": {\n    \"recentNews\": [],\n    \"painPoints\": [],\n    \"opportunities\": []\n  },\n  \"decisionMakers\": [],\n  \"enrichedAt\": \"\"\n}"
            },
            {
              "role": "user",
              "content": "=Enrich this lead:\n{{ JSON.stringify($json.originalInput.data || $json.originalInput, null, 2) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.3
        }
      },
      "id": "agent-lead-enrichment",
      "name": "Lead Enrichment Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [700, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Sentiment Analysis Agent. Analyze text, social media, and reviews to determine sentiment and brand perception.\n\nAnalyze the input and return:\n- Overall sentiment score (-1 to 1)\n- Sentiment breakdown by topic\n- Key themes and topics mentioned\n- Emotional indicators\n- Recommended response strategy\n\nReturn JSON:\n{\n  \"overallSentiment\": {\n    \"score\": 0.0,\n    \"label\": \"positive|neutral|negative\",\n    \"confidence\": 0.0\n  },\n  \"topicSentiments\": [\n    {\"topic\": \"\", \"sentiment\": 0.0, \"mentions\": 0}\n  ],\n  \"keyThemes\": [],\n  \"emotionalIndicators\": {\n    \"joy\": 0.0,\n    \"trust\": 0.0,\n    \"anticipation\": 0.0,\n    \"surprise\": 0.0,\n    \"sadness\": 0.0,\n    \"disgust\": 0.0,\n    \"anger\": 0.0,\n    \"fear\": 0.0\n  },\n  \"responseStrategy\": \"\",\n  \"analyzedAt\": \"\"\n}"
            },
            {
              "role": "user",
              "content": "=Analyze sentiment for:\n{{ JSON.stringify($json.originalInput.data || $json.originalInput, null, 2) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "id": "agent-sentiment",
      "name": "Sentiment Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [700, 500]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Content Generation Agent. Create compelling, personalized content for various marketing channels.\n\nBased on the context and requirements, generate:\n- Subject lines (3 variations)\n- Email body content\n- Social media posts\n- Ad copy variations\n- Call-to-action suggestions\n\nReturn JSON:\n{\n  \"contentType\": \"\",\n  \"subject_lines\": [\n    {\"text\": \"\", \"style\": \"curiosity|benefit|urgency\"}\n  ],\n  \"emailContent\": {\n    \"greeting\": \"\",\n    \"body\": \"\",\n    \"closing\": \"\",\n    \"ps\": \"\"\n  },\n  \"socialPosts\": [\n    {\"platform\": \"linkedin|twitter|facebook\", \"content\": \"\", \"hashtags\": []}\n  ],\n  \"adCopy\": [\n    {\"headline\": \"\", \"description\": \"\", \"cta\": \"\"}\n  ],\n  \"ctas\": [],\n  \"generatedAt\": \"\"\n}"
            },
            {
              "role": "user",
              "content": "=Generate content based on:\n\nTask Type: {{ $json.taskType }}\nContext: {{ JSON.stringify($json.originalInput, null, 2) }}\n\nLead Enrichment Data (if available):\n{{ JSON.stringify($('Lead Enrichment Agent').first()?.json || {}, null, 2) }}\n\nSentiment Analysis (if available):\n{{ JSON.stringify($('Sentiment Analysis Agent').first()?.json || {}, null, 2) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7
        }
      },
      "id": "agent-content",
      "name": "Content Generation Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [950, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Outreach Personalization Agent. Customize messaging for individual recipients based on their profile and context.\n\nPersonalize the outreach by:\n- Tailoring tone to recipient's industry and role\n- Incorporating relevant company news or achievements\n- Adding personal touches based on social profiles\n- Optimizing send timing\n- Suggesting follow-up cadence\n\nReturn JSON:\n{\n  \"personalizedMessage\": {\n    \"subject\": \"\",\n    \"body\": \"\",\n    \"personalTouches\": []\n  },\n  \"timing\": {\n    \"optimalSendDay\": \"\",\n    \"optimalSendTime\": \"\",\n    \"timezone\": \"\"\n  },\n  \"followUpCadence\": [\n    {\"day\": 0, \"action\": \"\", \"channel\": \"\"}\n  ],\n  \"personalizationScore\": 0,\n  \"alternativeApproaches\": [],\n  \"personalizedAt\": \"\"\n}"
            },
            {
              "role": "user",
              "content": "=Personalize outreach for:\n\nRecipient: {{ JSON.stringify($json.originalInput.data || $json.originalInput, null, 2) }}\n\nEnrichment Data:\n{{ JSON.stringify($('Lead Enrichment Agent').first()?.json || {}, null, 2) }}\n\nContent Templates:\n{{ JSON.stringify($('Content Generation Agent').first()?.json || {}, null, 2) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.5
        }
      },
      "id": "agent-personalization",
      "name": "Outreach Personalization Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [950, 600]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Data Analysis Agent. Analyze data patterns, generate insights, and create forecasts.\n\nBased on the data provided:\n- Identify key trends and patterns\n- Detect anomalies or outliers\n- Generate actionable insights\n- Create forecasts where applicable\n- Suggest optimization opportunities\n\nReturn JSON:\n{\n  \"summary\": \"\",\n  \"keyMetrics\": [\n    {\"name\": \"\", \"value\": 0, \"trend\": \"up|down|stable\", \"significance\": \"\"}\n  ],\n  \"trends\": [\n    {\"pattern\": \"\", \"timeframe\": \"\", \"impact\": \"\"}\n  ],\n  \"anomalies\": [\n    {\"description\": \"\", \"severity\": \"low|medium|high\", \"recommendation\": \"\"}\n  ],\n  \"insights\": [],\n  \"forecasts\": [\n    {\"metric\": \"\", \"prediction\": \"\", \"confidence\": 0, \"timeframe\": \"\"}\n  ],\n  \"recommendations\": [],\n  \"analyzedAt\": \"\"\n}"
            },
            {
              "role": "user",
              "content": "=Analyze this data:\n{{ JSON.stringify($json.originalInput, null, 2) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "id": "agent-analyst",
      "name": "Data Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [700, 700]
    },
    {
      "parameters": {
        "jsCode": "// Agent Result Aggregator & Decision Engine\n// Combines outputs from all agents and determines next actions\n\nconst contextGraph = $('Task Router & Context Builder').first().json;\nconst leadEnrichment = $('Lead Enrichment Agent').first()?.json || null;\nconst sentiment = $('Sentiment Analysis Agent').first()?.json || null;\nconst content = $('Content Generation Agent').first()?.json || null;\nconst personalization = $('Outreach Personalization Agent').first()?.json || null;\nconst analysis = $('Data Analysis Agent').first()?.json || null;\n\n// Aggregate all agent outputs\nconst aggregatedResults = {\n  taskId: contextGraph.taskId,\n  taskType: contextGraph.taskType,\n  executedAt: new Date().toISOString(),\n  agents: {\n    leadEnrichment: leadEnrichment ? { success: true, data: leadEnrichment } : null,\n    sentiment: sentiment ? { success: true, data: sentiment } : null,\n    content: content ? { success: true, data: content } : null,\n    personalization: personalization ? { success: true, data: personalization } : null,\n    analysis: analysis ? { success: true, data: analysis } : null\n  }\n};\n\n// Calculate confidence score\nconst agentCount = Object.values(aggregatedResults.agents).filter(a => a?.success).length;\nconst confidenceScore = (agentCount / 5) * 100;\n\n// Generate recommended actions based on results\nconst recommendedActions = [];\n\nif (leadEnrichment && personalization) {\n  recommendedActions.push({\n    type: 'send_email',\n    priority: 'high',\n    data: {\n      to: contextGraph.originalInput.data?.email || contextGraph.originalInput.email,\n      subject: personalization.personalizedMessage?.subject || content?.subject_lines?.[0]?.text,\n      body: personalization.personalizedMessage?.body || content?.emailContent?.body,\n      scheduledFor: `${personalization.timing?.optimalSendDay} ${personalization.timing?.optimalSendTime}`\n    }\n  });\n}\n\nif (sentiment?.overallSentiment?.label === 'negative') {\n  recommendedActions.push({\n    type: 'alert_team',\n    priority: 'urgent',\n    data: {\n      message: `Negative sentiment detected: ${sentiment.overallSentiment.score}`,\n      responseStrategy: sentiment.responseStrategy\n    }\n  });\n}\n\nif (analysis?.anomalies?.some(a => a.severity === 'high')) {\n  recommendedActions.push({\n    type: 'investigate_anomaly',\n    priority: 'high',\n    data: analysis.anomalies.filter(a => a.severity === 'high')\n  });\n}\n\n// Determine if human approval is needed\nconst needsApproval = contextGraph.requiresHumanApproval || \n  recommendedActions.some(a => a.priority === 'urgent') ||\n  confidenceScore < 70;\n\nreturn [{\n  json: {\n    ...aggregatedResults,\n    confidenceScore,\n    recommendedActions,\n    needsApproval,\n    approvalReason: needsApproval ? \n      (confidenceScore < 70 ? 'Low confidence score' : 'Contains urgent or sensitive actions') : \n      null,\n    nextSteps: needsApproval ? 'Awaiting human approval' : 'Ready for automated execution'\n  }\n}];"
      },
      "id": "result-aggregator",
      "name": "Result Aggregator & Decision Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-approval",
              "leftValue": "={{ $json.needsApproval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "approval-check",
      "name": "Needs Human Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [1450, 500]
    },
    {
      "parameters": {
        "channel": "#ai-orchestrator-approvals",
        "text": "=🤖 *AI Orchestrator - Approval Required*\n\n*Task ID:* {{ $json.taskId }}\n*Task Type:* {{ $json.taskType }}\n*Confidence Score:* {{ $json.confidenceScore }}%\n*Approval Reason:* {{ $json.approvalReason }}\n\n*Recommended Actions:*\n{{ $json.recommendedActions.map((a, i) => `${i+1}. [${a.priority.toUpperCase()}] ${a.type}`).join('\\n') }}\n\n*Agent Results Summary:*\n• Lead Enrichment: {{ $json.agents.leadEnrichment ? '✅' : '⏭️' }}\n• Sentiment Analysis: {{ $json.agents.sentiment ? '✅' : '⏭️' }}\n• Content Generation: {{ $json.agents.content ? '✅' : '⏭️' }}\n• Personalization: {{ $json.agents.personalization ? '✅' : '⏭️' }}\n• Data Analysis: {{ $json.agents.analysis ? '✅' : '⏭️' }}\n\n_React with ✅ to approve or ❌ to reject_",
        "otherOptions": {}
      },
      "id": "slack-approval-request",
      "name": "Request Human Approval",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "jsCode": "// Execute Approved Actions\n// Process and execute the recommended actions\n\nconst aggregatedResults = $input.first().json;\nconst executionResults = [];\n\nfor (const action of aggregatedResults.recommendedActions) {\n  const result = {\n    actionType: action.type,\n    priority: action.priority,\n    status: 'pending',\n    executedAt: null\n  };\n  \n  // Mark for execution (actual execution happens in downstream nodes)\n  result.status = 'queued';\n  result.executedAt = new Date().toISOString();\n  executionResults.push(result);\n}\n\nreturn [{\n  json: {\n    taskId: aggregatedResults.taskId,\n    taskType: aggregatedResults.taskType,\n    executionResults,\n    originalRecommendations: aggregatedResults.recommendedActions,\n    agentData: aggregatedResults.agents,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "execute-actions",
      "name": "Execute Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubspot.com/crm/v3/objects/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubSpotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"email\": \"{{ $json.agentData.leadEnrichment?.data?.contact?.email || $json.originalRecommendations[0]?.data?.to }}\",\n    \"firstname\": \"{{ $json.agentData.leadEnrichment?.data?.contact?.firstName || '' }}\",\n    \"lastname\": \"{{ $json.agentData.leadEnrichment?.data?.contact?.lastName || '' }}\",\n    \"company\": \"{{ $json.agentData.leadEnrichment?.data?.company?.name || '' }}\",\n    \"jobtitle\": \"{{ $json.agentData.leadEnrichment?.data?.contact?.title || '' }}\",\n    \"ai_enriched\": \"true\",\n    \"ai_confidence_score\": \"{{ $json.confidenceScore || 0 }}\",\n    \"ai_task_id\": \"{{ $json.taskId }}\"\n  }\n}",
        "options": {}
      },
      "id": "crm-update",
      "name": "Update CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1950, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.RESEND_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"AI Orchestrator <ai@yourdomain.com>\",\n  \"to\": [\"{{ $json.originalRecommendations[0]?.data?.to || '' }}\"],\n  \"subject\": \"{{ $json.agentData.personalization?.data?.personalizedMessage?.subject || $json.agentData.content?.data?.subject_lines?.[0]?.text || 'Hello' }}\",\n  \"html\": \"{{ $json.agentData.personalization?.data?.personalizedMessage?.body || $json.agentData.content?.data?.emailContent?.body || '' }}\",\n  \"tags\": [\n    { \"name\": \"ai_generated\", \"value\": \"true\" },\n    { \"name\": \"task_id\", \"value\": \"{{ $json.taskId }}\" }\n  ]\n}",
        "options": {}
      },
      "id": "send-email-action",
      "name": "Send Email Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1950, 700]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.ORCHESTRATOR_LOG_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Execution Log",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.processedAt }}",
            "task_id": "={{ $json.taskId }}",
            "task_type": "={{ $json.taskType }}",
            "actions_executed": "={{ $json.executionResults.length }}",
            "status": "={{ $json.executionResults.every(r => r.status === 'queued') ? 'success' : 'partial' }}"
          }
        }
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2200, 600]
    },
    {
      "parameters": {
        "channel": "#ai-orchestrator",
        "text": "=✅ *AI Orchestrator - Execution Complete*\n\n*Task ID:* {{ $json.taskId }}\n*Task Type:* {{ $json.taskType }}\n*Actions Executed:* {{ $json.executionResults.length }}\n\n*Results:*\n{{ $json.executionResults.map((r, i) => `${i+1}. ${r.actionType}: ${r.status}`).join('\\n') }}\n\n*Processed at:* {{ $json.processedAt }}",
        "otherOptions": {}
      },
      "id": "slack-completion",
      "name": "Slack Completion Notice",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2200, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"taskId\": \"{{ $json.taskId }}\",\n  \"taskType\": \"{{ $json.taskType }}\",\n  \"confidenceScore\": {{ $('Result Aggregator & Decision Engine').first().json.confidenceScore }},\n  \"actionsExecuted\": {{ $json.executionResults.length }},\n  \"needsApproval\": {{ $('Result Aggregator & Decision Engine').first().json.needsApproval }},\n  \"processedAt\": \"{{ $json.processedAt }}\"\n}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 800]
    }
  ],
  "connections": {
    "Orchestrator Trigger": {
      "main": [
        [
          {
            "node": "Task Router & Context Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Task Check": {
      "main": [
        [
          {
            "node": "Task Router & Context Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Router & Context Builder": {
      "main": [
        [
          {
            "node": "Lead Enrichment Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sentiment Analysis Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Enrichment Agent": {
      "main": [
        [
          {
            "node": "Content Generation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis Agent": {
      "main": [
        [
          {
            "node": "Content Generation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation Agent": {
      "main": [
        [
          {
            "node": "Outreach Personalization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outreach Personalization Agent": {
      "main": [
        [
          {
            "node": "Result Aggregator & Decision Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Analysis Agent": {
      "main": [
        [
          {
            "node": "Result Aggregator & Decision Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result Aggregator & Decision Engine": {
      "main": [
        [
          {
            "node": "Needs Human Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Human Approval?": {
      "main": [
        [
          {
            "node": "Request Human Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Actions": {
      "main": [
        [
          {
            "node": "Update CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Completion Notice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "grain-saas-agentic-ai"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 2,
  "tags": [
    {
      "name": "Agentic AI",
      "createdAt": "2026-01-07T00:00:00.000Z",
      "updatedAt": "2026-01-07T00:00:00.000Z"
    },
    {
      "name": "Multi-Agent",
      "createdAt": "2026-01-07T00:00:00.000Z",
      "updatedAt": "2026-01-07T00:00:00.000Z"
    },
    {
      "name": "Orchestration",
      "createdAt": "2026-01-07T00:00:00.000Z",
      "updatedAt": "2026-01-07T00:00:00.000Z"
    },
    {
      "name": "HITL",
      "createdAt": "2026-01-07T00:00:00.000Z",
      "updatedAt": "2026-01-07T00:00:00.000Z"
    },
    {
      "name": "Grain",
      "createdAt": "2026-01-07T00:00:00.000Z",
      "updatedAt": "2026-01-07T00:00:00.000Z"
    }
  ]
}
