n8n-templates/Grain_AB_Testing_Engine_v1.json
{
  "name": "Grain A/B Testing Engine v1",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $vars.GRAIN_TENANT_ID || 'default' }}"
            },
            {
              "name": "dry_run",
              "value": "={{ $vars.GRAIN_DRY_RUN || false }}"
            },
            {
              "name": "webhook_prefix",
              "value": "={{ $vars.GRAIN_WEBHOOK_PREFIX || '/webhook' }}/{{ $workflow.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "grain-config-llazfu2yn",
      "name": "GRAIN_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -200,
        -200
      ],
      "notesInFlow": true,
      "notes": "🔧 Central Config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ab-test/create",
        "options": {}
      },
      "id": "webhook-create",
      "name": "Create Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "ab-create"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Conversion Rate Optimization expert. Generate 2 variants (B and C) for the provided Control (A) content. \nFocus on: {{ $json.body.goal }}\nOutput JSON: { \"variants\": [ { \"id\": \"B\", \"content\": \"...\" }, { \"id\": \"C\", \"content\": \"...\" } ] }"
            },
            {
              "role": "user",
              "content": "Control Content: {{ $json.body.content }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "ai-variants",
      "name": "Generate Variants",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Active_Tests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "test_id": "={{ $json.body.test_name }}",
            "variant_b": "={{ $json.variants[0].content }}",
            "variant_c": "={{ $json.variants[1].content }}",
            "status": "active",
            "start_date": "={{ $now.toISO() }}"
          }
        }
      },
      "id": "save-test",
      "name": "Save to DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ab-test/track",
        "options": {}
      },
      "id": "webhook-track",
      "name": "Track Conversion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        500
      ],
      "webhookId": "ab-track"
    },
    {
      "parameters": {
        "jsCode": "// Simple Z-Score Calculation Mock\nconst visitors = $json.body.visitors;\nconst conversions = $json.body.conversions;\n// ... complex math ...\nreturn { json: { winner: \"B\", confidence: 96 } };"
      },
      "id": "calc-stats",
      "name": "Calc Significance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sig-check",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 95,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-winner",
      "name": "Check Winner",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        650,
        500
      ]
    },
    {
      "parameters": {
        "channel": "cro-wins",
        "text": "=🏆 **A/B Test Winner Found!**\n\nTest: {{ $json.body.test_id }}\nWinner: Variant {{ $json.winner }}\nConfidence: {{ $json.confidence }}%\n\nAuto-deploying winner...",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Winner",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        850,
        500
      ]
    }
  ],
  "connections": {
    "Create Test": {
      "main": [
        [
          {
            "node": "Generate Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Variants": {
      "main": [
        [
          {
            "node": "Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Conversion": {
      "main": [
        [
          {
            "node": "Calc Significance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Significance": {
      "main": [
        [
          {
            "node": "Check Winner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Winner": {
      "main": [
        [
          {
            "node": "Notify Winner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}