n8n-templates/Grain_Subscription_Management_v1.json
{
  "name": "Grain Subscription Management v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subscription/webhook",
        "options": {}
      },
      "id": "stripe-webhook",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "stripe-subscription"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "daily-check",
      "name": "Daily Subscription Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 500]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "monthly-report",
      "name": "Monthly MRR Report",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 700]
    },
    {
      "parameters": {
        "jsCode": "// Process Stripe webhook event\nconst event = $input.first().json.body || $input.first().json;\n\nconst eventData = {\n  eventId: event.id,\n  eventType: event.type,\n  timestamp: new Date(event.created * 1000).toISOString(),\n  livemode: event.livemode,\n  data: event.data?.object || event.data\n};\n\n// Extract subscription details based on event type\nlet subscriptionData = null;\nlet customerData = null;\nlet action = null;\n\nswitch (event.type) {\n  case 'customer.subscription.created':\n    action = 'subscription_created';\n    subscriptionData = {\n      id: eventData.data.id,\n      customerId: eventData.data.customer,\n      status: eventData.data.status,\n      planId: eventData.data.items?.data[0]?.price?.id,\n      planName: eventData.data.items?.data[0]?.price?.nickname,\n      amount: eventData.data.items?.data[0]?.price?.unit_amount / 100,\n      currency: eventData.data.currency,\n      interval: eventData.data.items?.data[0]?.price?.recurring?.interval,\n      currentPeriodStart: new Date(eventData.data.current_period_start * 1000).toISOString(),\n      currentPeriodEnd: new Date(eventData.data.current_period_end * 1000).toISOString(),\n      trialEnd: eventData.data.trial_end ? new Date(eventData.data.trial_end * 1000).toISOString() : null\n    };\n    break;\n    \n  case 'customer.subscription.updated':\n    action = 'subscription_updated';\n    subscriptionData = {\n      id: eventData.data.id,\n      customerId: eventData.data.customer,\n      status: eventData.data.status,\n      planId: eventData.data.items?.data[0]?.price?.id,\n      cancelAtPeriodEnd: eventData.data.cancel_at_period_end,\n      canceledAt: eventData.data.canceled_at ? new Date(eventData.data.canceled_at * 1000).toISOString() : null\n    };\n    break;\n    \n  case 'customer.subscription.deleted':\n    action = 'subscription_canceled';\n    subscriptionData = {\n      id: eventData.data.id,\n      customerId: eventData.data.customer,\n      status: 'canceled',\n      canceledAt: new Date().toISOString()\n    };\n    break;\n    \n  case 'invoice.payment_succeeded':\n    action = 'payment_success';\n    subscriptionData = {\n      subscriptionId: eventData.data.subscription,\n      customerId: eventData.data.customer,\n      invoiceId: eventData.data.id,\n      amount: eventData.data.amount_paid / 100,\n      currency: eventData.data.currency\n    };\n    break;\n    \n  case 'invoice.payment_failed':\n    action = 'payment_failed';\n    subscriptionData = {\n      subscriptionId: eventData.data.subscription,\n      customerId: eventData.data.customer,\n      invoiceId: eventData.data.id,\n      amount: eventData.data.amount_due / 100,\n      attemptCount: eventData.data.attempt_count,\n      nextAttempt: eventData.data.next_payment_attempt ? new Date(eventData.data.next_payment_attempt * 1000).toISOString() : null\n    };\n    break;\n    \n  case 'customer.subscription.trial_will_end':\n    action = 'trial_ending';\n    subscriptionData = {\n      id: eventData.data.id,\n      customerId: eventData.data.customer,\n      trialEnd: new Date(eventData.data.trial_end * 1000).toISOString()\n    };\n    break;\n    \n  default:\n    action = 'other';\n    subscriptionData = eventData.data;\n}\n\nreturn [{ json: {\n  eventId: eventData.eventId,\n  eventType: event.type,\n  action,\n  subscription: subscriptionData,\n  timestamp: eventData.timestamp,\n  livemode: eventData.livemode\n}}];"
      },
      "id": "process-webhook",
      "name": "Process Webhook Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-type",
              "leftValue": "={{ $json.action }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-action",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.STRIPE_API_URL }}/customers/{{ $json.subscription.customerId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-customer",
      "name": "Fetch Customer Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "stripe-api-key",
          "name": "Stripe API Key"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.COMPANY_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "=🎉 Welcome to {{ $vars.COMPANY_NAME }}!",
        "emailType": "html",
        "html": "=<h2>Welcome aboard!</h2>\n<p>Hi {{ $json.name || 'there' }},</p>\n<p>Thank you for subscribing to <strong>{{ $('Process Webhook Event').first().json.subscription.planName || 'our service' }}</strong>!</p>\n<p>Your subscription is now active. Here's what you can do next:</p>\n<ul>\n<li>📚 <a href=\"{{ $vars.DOCS_URL }}\">Read our getting started guide</a></li>\n<li>🎥 <a href=\"{{ $vars.TUTORIALS_URL }}\">Watch video tutorials</a></li>\n<li>💬 <a href=\"{{ $vars.SUPPORT_URL }}\">Contact our support team</a></li>\n</ul>\n<p>If you have any questions, we're here to help!</p>\n<p>Best regards,<br/>The {{ $vars.COMPANY_NAME }} Team</p>",
        "options": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 100],
      "credentials": {
        "smtp": {
          "id": "smtp-credential",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.COMPANY_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "=⚠️ Payment failed - Action required",
        "emailType": "html",
        "html": "=<h2>Payment Issue</h2>\n<p>Hi {{ $json.name || 'there' }},</p>\n<p>We were unable to process your payment of <strong>${{ $('Process Webhook Event').first().json.subscription.amount }}</strong>.</p>\n<p><strong>What you can do:</strong></p>\n<ul>\n<li>Update your payment method in your <a href=\"{{ $vars.BILLING_URL }}\">billing settings</a></li>\n<li>Ensure your card has sufficient funds</li>\n<li>Contact your bank if the issue persists</li>\n</ul>\n<p>We'll automatically retry the payment {{ $('Process Webhook Event').first().json.subscription.nextAttempt ? 'on ' + new Date($('Process Webhook Event').first().json.subscription.nextAttempt).toLocaleDateString() : 'soon' }}.</p>\n<p>If you need assistance, please <a href=\"{{ $vars.SUPPORT_URL }}\">contact our support team</a>.</p>",
        "options": {}
      },
      "id": "send-payment-failed-email",
      "name": "Send Payment Failed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credential",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.COMPANY_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "=⏰ Your trial ends in 3 days",
        "emailType": "html",
        "html": "=<h2>Your trial is ending soon</h2>\n<p>Hi {{ $json.name || 'there' }},</p>\n<p>Your free trial ends on <strong>{{ new Date($('Process Webhook Event').first().json.subscription.trialEnd).toLocaleDateString() }}</strong>.</p>\n<p>To continue enjoying our service without interruption, make sure your payment method is up to date.</p>\n<p><a href=\"{{ $vars.BILLING_URL }}\" style=\"display: inline-block; background: #4CAF50; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px;\">Update Payment Method</a></p>\n<p>Need more time? <a href=\"{{ $vars.SUPPORT_URL }}\">Contact us</a> and we'll be happy to help.</p>",
        "options": {}
      },
      "id": "send-trial-ending-email",
      "name": "Send Trial Ending Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 500],
      "credentials": {
        "smtp": {
          "id": "smtp-credential",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUBSCRIPTION_DB_URL }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "log-event",
      "name": "Log Event to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "subscription-db-api",
          "name": "Subscription DB API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $vars.REVENUE_SLACK_CHANNEL }}",
        "text": "=💰 *Subscription Event*\n\n*Type:* {{ $json.action }}\n*Customer:* {{ $json.subscription.customerId }}\n{{ $json.subscription.planName ? '*Plan:* ' + $json.subscription.planName : '' }}\n{{ $json.subscription.amount ? '*Amount:* $' + $json.subscription.amount : '' }}\n*Time:* {{ $json.timestamp }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify Revenue Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1500, 500],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.STRIPE_API_URL }}/subscriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-subscriptions",
      "name": "Fetch All Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "stripe-api-key",
          "name": "Stripe API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate MRR and subscription metrics\nconst subscriptions = $input.first().json.data || [];\n\nlet mrr = 0;\nlet arr = 0;\nconst planBreakdown = {};\nconst currencyBreakdown = {};\n\nsubscriptions.forEach(sub => {\n  const amount = sub.items.data[0]?.price?.unit_amount / 100 || 0;\n  const interval = sub.items.data[0]?.price?.recurring?.interval;\n  const currency = sub.currency?.toUpperCase() || 'USD';\n  const planName = sub.items.data[0]?.price?.nickname || 'Unknown';\n  \n  // Normalize to monthly\n  let monthlyAmount = amount;\n  if (interval === 'year') monthlyAmount = amount / 12;\n  if (interval === 'week') monthlyAmount = amount * 4;\n  \n  mrr += monthlyAmount;\n  \n  // Plan breakdown\n  if (!planBreakdown[planName]) {\n    planBreakdown[planName] = { count: 0, mrr: 0 };\n  }\n  planBreakdown[planName].count++;\n  planBreakdown[planName].mrr += monthlyAmount;\n  \n  // Currency breakdown\n  if (!currencyBreakdown[currency]) {\n    currencyBreakdown[currency] = 0;\n  }\n  currencyBreakdown[currency] += monthlyAmount;\n});\n\narr = mrr * 12;\n\nconst report = {\n  reportDate: new Date().toISOString(),\n  metrics: {\n    totalActiveSubscriptions: subscriptions.length,\n    mrr: Math.round(mrr * 100) / 100,\n    arr: Math.round(arr * 100) / 100,\n    avgRevenuePerUser: subscriptions.length > 0 \n      ? Math.round(mrr / subscriptions.length * 100) / 100 \n      : 0\n  },\n  planBreakdown: Object.entries(planBreakdown).map(([name, data]) => ({\n    plan: name,\n    subscribers: data.count,\n    mrr: Math.round(data.mrr * 100) / 100,\n    percentage: Math.round(data.mrr / mrr * 100)\n  })).sort((a, b) => b.mrr - a.mrr),\n  currencyBreakdown\n};\n\nreturn [{ json: report }];"
      },
      "id": "calculate-mrr",
      "name": "Calculate MRR Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 700]
    },
    {
      "parameters": {
        "channel": "={{ $vars.REVENUE_SLACK_CHANNEL }}",
        "text": "=📊 *Monthly Revenue Report*\n\n💰 *Key Metrics:*\n• MRR: ${{ $json.metrics.mrr.toLocaleString() }}\n• ARR: ${{ $json.metrics.arr.toLocaleString() }}\n• Active Subscriptions: {{ $json.metrics.totalActiveSubscriptions }}\n• ARPU: ${{ $json.metrics.avgRevenuePerUser }}\n\n📈 *Plan Breakdown:*\n{{ $json.planBreakdown.map(p => `• ${p.plan}: ${p.subscribers} subs ($${p.mrr.toLocaleString()} MRR - ${p.percentage}%)`).join('\\n') }}\n\n_Report generated: {{ new Date($json.reportDate).toLocaleDateString() }}_",
        "otherOptions": {}
      },
      "id": "send-mrr-report",
      "name": "Send MRR Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1000, 700],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Acknowledge Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [{ "node": "Process Webhook Event", "type": "main", "index": 0 }]
      ]
    },
    "Daily Subscription Check": {
      "main": [
        [{ "node": "Fetch All Subscriptions", "type": "main", "index": 0 }]
      ]
    },
    "Monthly MRR Report": {
      "main": [
        [{ "node": "Fetch All Subscriptions", "type": "main", "index": 0 }]
      ]
    },
    "Process Webhook Event": {
      "main": [
        [
          { "node": "Route by Action", "type": "main", "index": 0 },
          { "node": "Log Event to DB", "type": "main", "index": 0 },
          { "node": "Notify Revenue Team", "type": "main", "index": 0 },
          { "node": "Acknowledge Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [{ "node": "Fetch Customer Details", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Customer Details": {
      "main": [
        [
          { "node": "Send Welcome Email", "type": "main", "index": 0 },
          { "node": "Send Payment Failed Email", "type": "main", "index": 0 },
          { "node": "Send Trial Ending Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch All Subscriptions": {
      "main": [
        [{ "node": "Calculate MRR Report", "type": "main", "index": 0 }]
      ]
    },
    "Calculate MRR Report": {
      "main": [
        [{ "node": "Send MRR Report", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "id": "subscription", "name": "subscription" },
    { "id": "billing", "name": "billing" },
    { "id": "stripe", "name": "stripe" },
    { "id": "saas", "name": "saas" }
  ],
  "triggerCount": 3,
  "updatedAt": "2026-01-08T00:00:00.000Z",
  "versionId": "1"
}
