n8n-templates/Grain_AI_Review_Responder_v1.json
{
  "name": "Grain AI Review Responder v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "review-check-trigger",
      "name": "Check Reviews Every 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-responder/new-review",
        "options": {}
      },
      "id": "webhook-new-review",
      "name": "Webhook: New Review",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "google_place_id",
              "value": "YOUR_GOOGLE_PLACE_ID"
            },
            {
              "name": "tripadvisor_location_id",
              "value": "YOUR_TRIPADVISOR_ID"
            },
            {
              "name": "business_name",
              "value": "İşletme Adınız"
            },
            {
              "name": "business_phone",
              "value": "+90 XXX XXX XX XX"
            },
            {
              "name": "manager_email",
              "value": "manager@isletme.com"
            },
            {
              "name": "auto_respond_threshold",
              "value": "4"
            },
            {
              "name": "response_language",
              "value": "tr"
            }
          ]
        },
        "options": {}
      },
      "id": "config-settings",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://maps.googleapis.com/maps/api/place/details/json?place_id={{$json.google_place_id}}&fields=name,rating,reviews,user_ratings_total&language={{$json.response_language}}&key={{$credentials.googlePlacesApi.apiKey}}",
        "options": {}
      },
      "id": "fetch-google-reviews",
      "name": "Fetch Google Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.tripadvisor.com/api/partner/2.0/location/{{$json.tripadvisor_location_id}}/reviews?key={{$credentials.tripadvisorApi.apiKey}}&lang={{$json.response_language}}",
        "options": {}
      },
      "id": "fetch-tripadvisor-reviews",
      "name": "Fetch TripAdvisor Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [720, 500]
    },
    {
      "parameters": {
        "jsCode": "// Yorumları normalize et ve filtrele\nconst allReviews = [];\nconst now = new Date();\nconst oneDayAgo = new Date(now - 24 * 60 * 60 * 1000);\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  // Google Reviews\n  if (data.result?.reviews) {\n    for (const review of data.result.reviews) {\n      const reviewDate = new Date(review.time * 1000);\n      if (reviewDate > oneDayAgo) {\n        allReviews.push({\n          platform: 'Google',\n          platform_icon: '🔵',\n          review_id: `google_${review.time}`,\n          author: review.author_name,\n          avatar: review.profile_photo_url,\n          rating: review.rating,\n          text: review.text || '(Sadece puan verildi)',\n          date: reviewDate.toISOString(),\n          language: review.language || 'tr',\n          needs_response: true\n        });\n      }\n    }\n  }\n  \n  // TripAdvisor Reviews  \n  if (data.data) {\n    for (const review of data.data) {\n      const reviewDate = new Date(review.published_date);\n      if (reviewDate > oneDayAgo) {\n        allReviews.push({\n          platform: 'TripAdvisor',\n          platform_icon: '🟢',\n          review_id: review.id,\n          author: review.user?.username || 'Anonim',\n          avatar: review.user?.avatar?.small?.url,\n          rating: review.rating,\n          text: review.text,\n          title: review.title,\n          date: reviewDate.toISOString(),\n          language: review.lang || 'en',\n          needs_response: true\n        });\n      }\n    }\n  }\n}\n\nif (allReviews.length === 0) {\n  return [{ json: { message: 'Son 24 saatte yeni yorum yok', count: 0 } }];\n}\n\nreturn allReviews.map(r => ({ json: r }));"
      },
      "id": "normalize-reviews",
      "name": "Normalize Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-reviews",
              "leftValue": "={{$json.needs_response}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-new-reviews",
      "name": "Filter New Reviews",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.rating}}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Positive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.rating}}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Neutral"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.rating}}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negative"
            }
          ]
        },
        "options": {}
      },
      "id": "route-by-sentiment",
      "name": "Route by Sentiment",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 400
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Sen profesyonel bir işletme müşteri ilişkileri uzmanısın. Olumlu müşteri yorumlarına sıcak, samimi ve kişiselleştirilmiş yanıtlar yazıyorsun.\n\n## Kurallar:\n1. Müşteriye ismiyle hitap et (Değerli X Bey/Hanım)\n2. Yorumda bahsettikleri spesifik konulara değin\n3. Teşekkür et ve memnuniyetini belirt\n4. Tekrar davet et\n5. Emoji kullan ama abartma (2-3 emoji yeterli)\n6. Maksimum 100 kelime\n7. Türkçe yaz\n8. Sonunda \"İşletme Ekibi\" imzası ekle\n\n## Örnek Yanıt:\n\"Değerli [İsim] Bey/Hanım, güzel yorumunuz için çok teşekkür ederiz! [Spesifik konuya değinme]. Sizin gibi değerli misafirlerimizi ağırlamak bizim için büyük mutluluk. Tekrar görüşmek dileğiyle! 🙏✨ - İşletme Ekibi\""
            },
            {
              "role": "user",
              "content": "Platform: {{$json.platform}}\nMüşteri: {{$json.author}}\nPuan: {{$json.rating}}/5 ⭐\nYorum: {{$json.text}}\n{{$json.title ? 'Başlık: ' + $json.title : ''}}\n\nBu olumlu yoruma uygun bir yanıt yaz."
            }
          ]
        }
      },
      "id": "ai-positive-reply",
      "name": "AI: Positive Reply",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1680, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.6,
          "maxTokens": 400
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Sen profesyonel bir işletme müşteri ilişkileri uzmanısın. Nötr (3 yıldız) müşteri yorumlarına dengeli, yapıcı ve gelişime açık yanıtlar yazıyorsun.\n\n## Kurallar:\n1. Müşteriye ismiyle hitap et\n2. Zaman ayırıp yorum yazdıkları için teşekkür et\n3. Olumlu yönlere değin (varsa)\n4. Geliştirilecek alanlar için geri bildirimi dikkate aldığını belirt\n5. Daha iyi bir deneyim sunma sözü ver\n6. Maksimum 100 kelime\n7. Türkçe yaz\n8. Sonunda \"İşletme Ekibi\" imzası ekle"
            },
            {
              "role": "user",
              "content": "Platform: {{$json.platform}}\nMüşteri: {{$json.author}}\nPuan: {{$json.rating}}/5 ⭐\nYorum: {{$json.text}}\n{{$json.title ? 'Başlık: ' + $json.title : ''}}\n\nBu nötr yoruma uygun bir yanıt yaz."
            }
          ]
        }
      },
      "id": "ai-neutral-reply",
      "name": "AI: Neutral Reply",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1680, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.4,
          "maxTokens": 500
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Sen profesyonel bir işletme kriz yönetimi uzmanısın. Olumsuz müşteri yorumlarına empatik, çözüm odaklı ve profesyonel yanıtlar yazıyorsun.\n\n## MUTLAK KURALLAR:\n1. ASLA savunmacı olma veya mazeret üretme\n2. Müşteriye Sayın/Değerli ismiyle hitap et\n3. Yaşanan deneyim için içtenlikle özür dile\n4. Spesifik soruna değin (varsa)\n5. Konuyu özel olarak ele almak istediğini belirt\n6. İletişim numarası ver: {{$('Configuration').first().json.business_phone}}\n7. Çözüm sözü ver\n8. Maksimum 120 kelime\n9. Türkçe yaz\n10. Sonunda \"İşletme Müdürü\" imzası ekle\n11. Emoji KULLANMA (ciddi bir durum)\n\n## Örnek Yanıt:\n\"Sayın [İsim] Bey/Hanım, yaşadığınız deneyim için çok üzgünüz. [Spesifik soruna değinme]. Bu kesinlikle sizin hak ettiğiniz hizmet kalitesini yansıtmıyor. Durumu acilen incelemek ve sizinle konuşmak istiyoruz. Lütfen [telefon] numarasından bize ulaşır mısınız? Saygılarımızla, İşletme Müdürü\""
            },
            {
              "role": "user",
              "content": "Platform: {{$json.platform}}\nMüşteri: {{$json.author}}\nPuan: {{$json.rating}}/5 ⭐\nYorum: {{$json.text}}\n{{$json.title ? 'Başlık: ' + $json.title : ''}}\n\nBu olumsuz yoruma empatik ve çözüm odaklı bir yanıt yaz."
            }
          ]
        }
      },
      "id": "ai-negative-reply",
      "name": "AI: Negative Reply",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1680, 600],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-responses",
      "name": "Merge All Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1920, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-data",
              "name": "response_package",
              "value": "={\n  \"review_id\": \"{{$json.review_id}}\",\n  \"platform\": \"{{$json.platform}}\",\n  \"platform_icon\": \"{{$json.platform_icon}}\",\n  \"author\": \"{{$json.author}}\",\n  \"rating\": {{$json.rating}},\n  \"original_review\": \"{{$json.text}}\",\n  \"ai_response\": \"{{$json.message?.content || $json.text}}\",\n  \"sentiment\": \"{{$json.rating >= 4 ? 'positive' : ($json.rating === 3 ? 'neutral' : 'negative')}}\",\n  \"auto_post\": {{$json.rating >= 4}},\n  \"needs_approval\": {{$json.rating <= 2}},\n  \"generated_at\": \"{{new Date().toISOString()}}\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response Package",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2160, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-approval-check",
              "leftValue": "={{JSON.parse($json.response_package).needs_approval}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-approval-needed",
      "name": "Needs Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "AI Yanıtlar",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tarih": "={{new Date().toLocaleString('tr-TR')}}",
            "Platform": "={{JSON.parse($json.response_package).platform}}",
            "Müşteri": "={{JSON.parse($json.response_package).author}}",
            "Puan": "={{JSON.parse($json.response_package).rating}}",
            "Yorum": "={{JSON.parse($json.response_package).original_review}}",
            "AI Yanıt": "={{JSON.parse($json.response_package).ai_response}}",
            "Durum": "Otomatik Gönderildi",
            "Sentiment": "={{JSON.parse($json.response_package).sentiment}}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "log-auto-response",
      "name": "Log Auto Response",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [2640, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Onay Bekleyenler",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tarih": "={{new Date().toLocaleString('tr-TR')}}",
            "Platform": "={{JSON.parse($json.response_package).platform}}",
            "Müşteri": "={{JSON.parse($json.response_package).author}}",
            "Puan": "={{JSON.parse($json.response_package).rating}}",
            "Yorum": "={{JSON.parse($json.response_package).original_review}}",
            "AI Yanıt Önerisi": "={{JSON.parse($json.response_package).ai_response}}",
            "Durum": "Onay Bekliyor",
            "Onay": "Hayır"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "add-approval-queue",
      "name": "Add to Approval Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [2640, 500]
    },
    {
      "parameters": {
        "sendTo": "={{$('Configuration').first().json.manager_email}}",
        "subject": "=⚠️ Olumsuz Yorum - Onay Gerekli | {{JSON.parse($json.response_package).platform}}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody { font-family: Arial, sans-serif; background: #f5f5f5; padding: 20px; }\n.container { max-width: 600px; margin: 0 auto; background: white; border-radius: 10px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n.header { background: linear-gradient(135deg, #e74c3c, #c0392b); color: white; padding: 20px; text-align: center; }\n.content { padding: 25px; }\n.review-box { background: #fef5f5; border-left: 4px solid #e74c3c; padding: 15px; margin: 15px 0; border-radius: 4px; }\n.ai-box { background: #f0fff4; border-left: 4px solid #27ae60; padding: 15px; margin: 15px 0; border-radius: 4px; }\n.meta { color: #666; font-size: 14px; margin-bottom: 10px; }\n.rating { font-size: 24px; }\n.btn { display: inline-block; background: #3498db; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; margin: 5px; }\n.btn-approve { background: #27ae60; }\n.btn-edit { background: #f39c12; }\n.footer { background: #f8f9fa; padding: 15px; text-align: center; font-size: 12px; color: #666; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n<div class=\"header\">\n<h2>⚠️ Olumsuz Yorum Bildirimi</h2>\n<p>Hızlı yanıt gerekiyor!</p>\n</div>\n<div class=\"content\">\n<p class=\"meta\">📍 Platform: <strong>{{JSON.parse($json.response_package).platform}}</strong></p>\n<p class=\"meta\">👤 Müşteri: <strong>{{JSON.parse($json.response_package).author}}</strong></p>\n<p class=\"rating\">⭐ Puan: {{JSON.parse($json.response_package).rating}}/5</p>\n\n<h3>💬 Müşteri Yorumu:</h3>\n<div class=\"review-box\">\n{{JSON.parse($json.response_package).original_review}}\n</div>\n\n<h3>🤖 AI Yanıt Önerisi:</h3>\n<div class=\"ai-box\">\n{{JSON.parse($json.response_package).ai_response}}\n</div>\n\n<div style=\"text-align: center; margin-top: 25px;\">\n<a href=\"#approve\" class=\"btn btn-approve\">✅ Onayla ve Gönder</a>\n<a href=\"#edit\" class=\"btn btn-edit\">✏️ Düzenle</a>\n</div>\n</div>\n<div class=\"footer\">\nBu e-posta Grain AI Review Responder tarafından otomatik gönderilmiştir.\n</div>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-approval-email",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2880, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "channel": "#reviews",
        "text": "=🔔 *Yeni Yorum Yanıtlandı*\n\n{{JSON.parse($json.response_package).platform_icon}} *Platform:* {{JSON.parse($json.response_package).platform}}\n👤 *Müşteri:* {{JSON.parse($json.response_package).author}}\n⭐ *Puan:* {{JSON.parse($json.response_package).rating}}/5\n\n💬 *Yorum:*\n> {{JSON.parse($json.response_package).original_review}}\n\n✍️ *AI Yanıt:*\n> {{JSON.parse($json.response_package).ai_response}}\n\n✅ Durum: Otomatik gönderildi",
        "otherOptions": {}
      },
      "id": "slack-auto-notify",
      "name": "Slack: Auto Response Sent",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [2880, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-cred",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Günlük özet raporu oluştur\nconst reviews = $input.all().map(i => {\n  try {\n    return JSON.parse(i.json.response_package);\n  } catch(e) {\n    return i.json;\n  }\n});\n\nconst summary = {\n  date: new Date().toLocaleDateString('tr-TR'),\n  total_reviews: reviews.length,\n  by_platform: {},\n  by_sentiment: {\n    positive: 0,\n    neutral: 0,\n    negative: 0\n  },\n  auto_responded: 0,\n  needs_approval: 0,\n  avg_rating: 0\n};\n\nlet totalRating = 0;\n\nreviews.forEach(r => {\n  // Platform count\n  summary.by_platform[r.platform] = (summary.by_platform[r.platform] || 0) + 1;\n  \n  // Sentiment count\n  if (r.rating >= 4) summary.by_sentiment.positive++;\n  else if (r.rating === 3) summary.by_sentiment.neutral++;\n  else summary.by_sentiment.negative++;\n  \n  // Auto response vs approval\n  if (r.auto_post) summary.auto_responded++;\n  if (r.needs_approval) summary.needs_approval++;\n  \n  totalRating += r.rating;\n});\n\nsummary.avg_rating = reviews.length > 0 \n  ? (totalRating / reviews.length).toFixed(1) \n  : 0;\n\nconst report = `\n📊 *Günlük Yorum Özeti* - ${summary.date}\n\n📝 Toplam Yorum: *${summary.total_reviews}*\n⭐ Ortalama Puan: *${summary.avg_rating}/5*\n\n📈 *Dağılım:*\n✅ Olumlu: ${summary.by_sentiment.positive}\n➖ Nötr: ${summary.by_sentiment.neutral}\n❌ Olumsuz: ${summary.by_sentiment.negative}\n\n🤖 *Otomasyon:*\n✓ Otomatik yanıtlanan: ${summary.auto_responded}\n⏳ Onay bekleyen: ${summary.needs_approval}\n\n📍 *Platform Dağılımı:*\n${Object.entries(summary.by_platform).map(([p, c]) => `• ${p}: ${c}`).join('\\n')}\n`;\n\nreturn [{ json: { summary, report } }];"
      },
      "id": "generate-summary",
      "name": "Generate Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 600]
    },
    {
      "parameters": {
        "channel": "#daily-reports",
        "text": "={{$json.report}}",
        "otherOptions": {}
      },
      "id": "send-daily-summary",
      "name": "Slack: Daily Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [2400, 600],
      "credentials": {
        "slackApi": {
          "id": "slack-cred",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Check Reviews Every 30min": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: New Review": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Fetch Google Reviews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch TripAdvisor Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Reviews": {
      "main": [
        [
          {
            "node": "Normalize Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TripAdvisor Reviews": {
      "main": [
        [
          {
            "node": "Normalize Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Reviews": {
      "main": [
        [
          {
            "node": "Filter New Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Reviews": {
      "main": [
        [
          {
            "node": "Route by Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Sentiment": {
      "main": [
        [
          {
            "node": "AI: Positive Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI: Neutral Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI: Negative Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Positive Reply": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Neutral Reply": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Negative Reply": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Responses": {
      "main": [
        [
          {
            "node": "Format Response Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response Package": {
      "main": [
        [
          {
            "node": "Needs Approval?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Approval?": {
      "main": [
        [
          {
            "node": "Add to Approval Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Auto Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Auto Response": {
      "main": [
        [
          {
            "node": "Slack: Auto Response Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Approval Queue": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily Summary": {
      "main": [
        [
          {
            "node": "Slack: Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "meta": {
    "templateId": "grain_ai_review_responder_v1",
    "templateName": "Grain AI Review Responder",
    "templateVersion": "1.0.0",
    "templateDescription": "Google ve TripAdvisor yorumlarını AI ile otomatik yanıtlama - Olumlu/Olumsuz ayrımı, onay sistemi, günlük raporlama",
    "categories": ["review_management", "ai_automation", "customer_service"],
    "author": "Grain AI Team",
    "created": "2024-01-20",
    "keywords": ["review", "ai response", "google", "tripadvisor", "automation", "customer service"]
  },
  "tags": [
    {"name": "review-management"},
    {"name": "ai-automation"},
    {"name": "customer-service"},
    {"name": "grain-premium"}
  ]
}
