n8n-templates/Grain_AI_Chatbot_Builder_v1.json
{
  "name": "Grain AI Chatbot Builder v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot/message",
        "options": {}
      },
      "id": "chat-webhook",
      "name": "Chat Message Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "chatbot-message"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot/train",
        "options": {}
      },
      "id": "train-webhook",
      "name": "Training Data Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 700],
      "webhookId": "chatbot-train"
    },
    {
      "parameters": {
        "jsCode": "// Process incoming chat message\nconst input = $input.first().json.body || $input.first().json;\n\nconst chatMessage = {\n  messageId: `MSG-${Date.now().toString(36).toUpperCase()}`,\n  sessionId: input.sessionId || `SES-${Date.now().toString(36)}`,\n  botId: input.botId || 'default',\n  userId: input.userId || 'anonymous',\n  message: input.message || input.text,\n  channel: input.channel || 'web', // web, whatsapp, telegram, slack, discord\n  metadata: {\n    userAgent: input.userAgent,\n    ip: input.ip,\n    locale: input.locale || 'en',\n    timezone: input.timezone,\n    pageUrl: input.pageUrl,\n    referrer: input.referrer\n  },\n  context: input.context || {},\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: chatMessage }];"
      },
      "id": "process-message",
      "name": "Process Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.CHATBOT_DB_URL }}/sessions/{{ $json.sessionId }}/history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-history",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "chatbot-db-api",
          "name": "Chatbot DB API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.CHATBOT_DB_URL }}/bots/{{ $json.botId }}/config",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-bot-config",
      "name": "Fetch Bot Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "chatbot-db-api",
          "name": "Chatbot DB API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Detect intent and extract entities\nconst message = $('Process Message').first().json;\nconst history = $('Fetch Conversation History').first().json;\nconst botConfig = $('Fetch Bot Config').first().json;\n\nconst userMessage = message.message.toLowerCase();\n\n// Intent detection patterns\nconst intentPatterns = {\n  greeting: /^(hi|hello|hey|good morning|good afternoon|good evening)/i,\n  farewell: /^(bye|goodbye|see you|take care)/i,\n  help: /(help|support|assist|how do i|how can i)/i,\n  pricing: /(price|pricing|cost|how much|plans|subscription)/i,\n  demo: /(demo|trial|try|test|sample)/i,\n  contact: /(contact|reach|email|phone|call|speak)/i,\n  faq: /(faq|question|ask|what is|explain)/i,\n  complaint: /(complaint|issue|problem|bug|error|not working)/i,\n  feedback: /(feedback|suggestion|improve|recommend)/i,\n  human: /(human|agent|person|real person|talk to someone)/i\n};\n\nlet detectedIntent = 'general';\nfor (const [intent, pattern] of Object.entries(intentPatterns)) {\n  if (pattern.test(userMessage)) {\n    detectedIntent = intent;\n    break;\n  }\n}\n\n// Entity extraction\nconst entities = {\n  email: userMessage.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/)?.[0],\n  phone: userMessage.match(/\\+?[1-9]\\d{1,14}/)?.[0],\n  url: userMessage.match(/https?:\\/\\/[^\\s]+/)?.[0],\n  number: userMessage.match(/\\d+/)?.[0]\n};\n\n// Build conversation context\nconst conversationHistory = (history.messages || []).map(m => ({\n  role: m.role,\n  content: m.content\n}));\n\nreturn [{ json: {\n  ...message,\n  intent: detectedIntent,\n  entities,\n  conversationHistory,\n  botConfig: {\n    name: botConfig.name || 'Assistant',\n    personality: botConfig.personality || 'friendly and helpful',\n    systemPrompt: botConfig.systemPrompt,\n    knowledgeBase: botConfig.knowledgeBaseId,\n    temperature: botConfig.temperature || 0.7,\n    maxTokens: botConfig.maxTokens || 1000,\n    fallbackMessage: botConfig.fallbackMessage || 'I\\'m not sure I understand. Could you rephrase that?',\n    escalateToHuman: botConfig.escalateToHuman || false\n  }\n}}];"
      },
      "id": "intent-detection",
      "name": "Intent Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-human",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "human",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-escalation",
      "name": "Needs Human?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.RAG_API_URL }}/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.message }}\",\n  \"knowledgeBaseId\": \"{{ $json.botConfig.knowledgeBase }}\",\n  \"topK\": 5\n}",
        "options": {}
      },
      "id": "search-knowledge",
      "name": "Search Knowledge Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rag-api-key",
          "name": "RAG API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are {{ $json.botConfig.name }}, a {{ $json.botConfig.personality }} AI assistant.\n\n{{ $json.botConfig.systemPrompt || 'Help users with their questions professionally and accurately.' }}\n\nIMPORTANT RULES:\n1. Be concise but helpful\n2. If you don't know something, say so honestly\n3. Use the provided context when relevant\n4. Match the user's language (formal/casual)\n5. Never make up information\n\n{{ $('Search Knowledge Base').first().json.results?.length > 0 ? 'RELEVANT CONTEXT FROM KNOWLEDGE BASE:\\n' + $('Search Knowledge Base').first().json.results.map(r => r.content).join('\\n---\\n') : '' }}",
              "role": "system"
            },
            {
              "content": "={{ JSON.stringify($json.conversationHistory.concat([{ role: 'user', content: $json.message }])) }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": "={{ $json.botConfig.temperature }}",
          "maxTokens": "={{ $json.botConfig.maxTokens }}"
        }
      },
      "id": "generate-response",
      "name": "Generate AI Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1750, 500],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Create human escalation ticket\nconst chatData = $('Intent Detection').first().json;\n\nconst ticket = {\n  ticketId: `TKT-${Date.now().toString(36).toUpperCase()}`,\n  type: 'chat_escalation',\n  sessionId: chatData.sessionId,\n  userId: chatData.userId,\n  channel: chatData.channel,\n  message: chatData.message,\n  conversationHistory: chatData.conversationHistory,\n  priority: 'high',\n  status: 'pending',\n  createdAt: new Date().toISOString()\n};\n\nconst response = {\n  messageId: chatData.messageId,\n  sessionId: chatData.sessionId,\n  response: \"I understand you'd like to speak with a human agent. I'm connecting you now. A team member will be with you shortly. In the meantime, is there anything specific I can help you prepare?\",\n  escalated: true,\n  ticketId: ticket.ticketId,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { ticket, response } }];"
      },
      "id": "create-escalation",
      "name": "Create Escalation Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format final response\nconst chatData = $('Intent Detection').first().json;\nconst aiResponse = $input.first().json;\n\nconst responseText = aiResponse.message?.content || aiResponse.content || aiResponse.text || chatData.botConfig.fallbackMessage;\n\nconst response = {\n  messageId: chatData.messageId,\n  sessionId: chatData.sessionId,\n  botId: chatData.botId,\n  response: responseText,\n  intent: chatData.intent,\n  confidence: 0.85,\n  suggestedActions: [],\n  metadata: {\n    model: 'gpt-4o',\n    tokensUsed: aiResponse.usage?.total_tokens,\n    processingTime: Date.now() - new Date(chatData.timestamp).getTime()\n  },\n  timestamp: new Date().toISOString()\n};\n\n// Add suggested actions based on intent\nif (chatData.intent === 'pricing') {\n  response.suggestedActions = [\n    { label: 'View Plans', action: 'open_url', value: '{{ $vars.PRICING_URL }}' },\n    { label: 'Start Free Trial', action: 'open_url', value: '{{ $vars.TRIAL_URL }}' }\n  ];\n} else if (chatData.intent === 'demo') {\n  response.suggestedActions = [\n    { label: 'Book a Demo', action: 'open_url', value: '{{ $vars.DEMO_URL }}' },\n    { label: 'Watch Video', action: 'open_url', value: '{{ $vars.VIDEO_URL }}' }\n  ];\n} else if (chatData.intent === 'contact') {\n  response.suggestedActions = [\n    { label: 'Email Us', action: 'email', value: '{{ $vars.SUPPORT_EMAIL }}' },\n    { label: 'Call Us', action: 'phone', value: '{{ $vars.SUPPORT_PHONE }}' }\n  ];\n}\n\nreturn [{ json: response }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CHATBOT_DB_URL }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sessionId\": \"{{ $json.sessionId }}\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"{{ $('Process Message').first().json.message }}\" },\n    { \"role\": \"assistant\", \"content\": \"{{ $json.response }}\" }\n  ],\n  \"intent\": \"{{ $json.intent }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "save-conversation",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "chatbot-db-api",
          "name": "Chatbot DB API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-chat",
      "name": "Respond to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2250, 600]
    },
    {
      "parameters": {
        "jsCode": "// Process training data upload\nconst input = $input.first().json.body || $input.first().json;\n\nconst trainingJob = {\n  jobId: `TRAIN-${Date.now().toString(36).toUpperCase()}`,\n  botId: input.botId || 'default',\n  dataType: input.dataType || 'documents', // documents, qa_pairs, conversations\n  documents: input.documents || [],\n  qaPairs: input.qaPairs || [],\n  conversations: input.conversations || [],\n  options: {\n    chunkSize: input.chunkSize || 500,\n    chunkOverlap: input.chunkOverlap || 50,\n    embeddingModel: input.embeddingModel || 'text-embedding-3-small'\n  },\n  status: 'processing',\n  createdAt: new Date().toISOString()\n};\n\nreturn [{ json: trainingJob }];"
      },
      "id": "process-training",
      "name": "Process Training Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.RAG_API_URL }}/ingest",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ingest-knowledge",
      "name": "Ingest to Knowledge Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rag-api-key",
          "name": "RAG API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"jobId\": \"{{ $json.jobId }}\",\n  \"documentsProcessed\": {{ $json.documents?.length || 0 }},\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {}
      },
      "id": "respond-training",
      "name": "Respond Training",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 700]
    }
  ],
  "connections": {
    "Chat Message Received": {
      "main": [
        [{ "node": "Process Message", "type": "main", "index": 0 }]
      ]
    },
    "Training Data Upload": {
      "main": [
        [{ "node": "Process Training Data", "type": "main", "index": 0 }]
      ]
    },
    "Process Message": {
      "main": [
        [
          { "node": "Fetch Conversation History", "type": "main", "index": 0 },
          { "node": "Fetch Bot Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Conversation History": {
      "main": [
        [{ "node": "Intent Detection", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Bot Config": {
      "main": [
        [{ "node": "Intent Detection", "type": "main", "index": 0 }]
      ]
    },
    "Intent Detection": {
      "main": [
        [{ "node": "Needs Human?", "type": "main", "index": 0 }]
      ]
    },
    "Needs Human?": {
      "main": [
        [{ "node": "Create Escalation Ticket", "type": "main", "index": 0 }],
        [{ "node": "Search Knowledge Base", "type": "main", "index": 0 }]
      ]
    },
    "Create Escalation Ticket": {
      "main": [
        [
          { "node": "Save Conversation", "type": "main", "index": 0 },
          { "node": "Respond to Chat", "type": "main", "index": 0 }
        ]
      ]
    },
    "Search Knowledge Base": {
      "main": [
        [{ "node": "Generate AI Response", "type": "main", "index": 0 }]
      ]
    },
    "Generate AI Response": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [
          { "node": "Save Conversation", "type": "main", "index": 0 },
          { "node": "Respond to Chat", "type": "main", "index": 0 }
        ]
      ]
    },
    "Process Training Data": {
      "main": [
        [{ "node": "Ingest to Knowledge Base", "type": "main", "index": 0 }]
      ]
    },
    "Ingest to Knowledge Base": {
      "main": [
        [{ "node": "Respond Training", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "id": "chatbot", "name": "chatbot" },
    { "id": "ai", "name": "ai" },
    { "id": "rag", "name": "rag" },
    { "id": "customer-service", "name": "customer-service" }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-01-08T00:00:00.000Z",
  "versionId": "1"
}
