n8n-templates/Grain_Prompt_Engineering_Studio_v1.json
{
  "name": "Grain Prompt Engineering Studio v1",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $vars.GRAIN_TENANT_ID || 'default' }}"
            },
            {
              "name": "dry_run",
              "value": "={{ $vars.GRAIN_DRY_RUN || false }}"
            },
            {
              "name": "webhook_prefix",
              "value": "={{ $vars.GRAIN_WEBHOOK_PREFIX || '/webhook' }}/{{ $workflow.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "grain-config-b8g4l9aou",
      "name": "GRAIN_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -200,
        -200
      ],
      "notesInFlow": true,
      "notes": "🔧 Central Config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prompt-studio",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Prompt Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "prompt-studio"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\nreturn {\n  json: {\n    request_id: input.request_id || `PRM-${Date.now()}`,\n    raw_prompt: input.prompt || input.raw_prompt,\n    task_type: input.task_type || 'general',\n    target_platform: input.target_platform || 'any',\n    tone: input.tone || 'professional',\n    use_chain_of_thought: input.use_chain_of_thought !== false,\n    generate_variants: input.generate_variants || 3\n  }\n};"
      },
      "id": "normalize-input",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a world-class Prompt Engineer. Analyze the user's prompt and evaluate it on:\n1. Clarity (1-10)\n2. Completeness (1-10)\n3. Risk (Hallucination/Bias)\n\nReturn JSON output."
            },
            {
              "role": "user",
              "content": "Prompt: {{ $json.raw_prompt }}\nContext: {{ $json.task_type }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "analyze-prompt",
      "name": "Analyze Prompt",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Now OPTIMIZE the prompt. Apply best practices:\n- Add Chain-of-Thought instructions if requested.\n- Add Few-Shot examples.\n- Define clear constraints.\n- Output format specification.\n\nGenerate {{ $json.generate_variants }} variants."
            },
            {
              "role": "user",
              "content": "Original: {{ $json.raw_prompt }}\nAnalysis: {{ $json.analysis_result }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "optimize-prompt",
      "name": "Optimize Prompt",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"original_prompt\": \"{{ $json.raw_prompt }}\",\n  \"analysis\": {{ $json.analysis_result }},\n  \"optimized_variants\": {{ $json.optimized_result }}\n}",
        "options": {}
      },
      "id": "response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Prompt Request": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Analyze Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Prompt": {
      "main": [
        [
          {
            "node": "Optimize Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimize Prompt": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}