n8n-templates/Grain_Agentic_AI_Orchestrator_v1.json
{
  "name": "Grain Agentic AI Orchestrator v1",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $vars.GRAIN_TENANT_ID || 'default' }}"
            },
            {
              "name": "dry_run",
              "value": "={{ $vars.GRAIN_DRY_RUN || false }}"
            },
            {
              "name": "webhook_prefix",
              "value": "={{ $vars.GRAIN_WEBHOOK_PREFIX || '/webhook' }}/{{ $workflow.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "grain-config-ywrvcgbii",
      "name": "GRAIN_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -200,
        -200
      ],
      "notesInFlow": true,
      "notes": "🔧 Central Config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator",
        "options": {}
      },
      "id": "webhook-orch",
      "name": "Orchestrator Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "webhookId": "ai-orchestrator"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the MASTER AGENT. Breakdown the user request into sub-tasks for specialized agents.\n\nAvailable Agents:\n1. ENRICHMENT (Data gathering)\n2. SENTIMENT (Analysis)\n3. CONTENT (Writing/Visuals)\n4. CRM (Database update)\n\nReturn JSON Plan:\n{ \"plan\": [ { \"agent\": \"ENRICHMENT\", \"task\": \"...\" }, { \"agent\": \"CONTENT\", \"task\": \"...\" } ] }"
            },
            {
              "role": "user",
              "content": "Goal: {{ $json.body.goal }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "master-planner",
      "name": "Master Planner AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "plan",
        "options": {}
      },
      "id": "split-tasks",
      "name": "Split Tasks",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.agent }}",
        "rules": {
          "rules": [
            {
              "value2": "ENRICHMENT",
              "output": 0
            },
            {
              "value2": "CONTENT",
              "output": 1
            },
            {
              "value2": "CRM",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "agent-router",
      "name": "Agent Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/enrichment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {}
      },
      "id": "agent-enrichment",
      "name": "Agent: Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the CONTENT AGENT. Execute task: {{ $json.task }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "agent-content",
      "name": "Agent: Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "CRM_Logs"
        }
      },
      "id": "agent-crm",
      "name": "Agent: CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "channel": "approvals",
        "text": "=🤖 **Approval Needed**\n\nPlan: {{ $json.plan_summary }}\nTask Output: {{ $json.output }}\n\nReply 'APPROVE' to execute.",
        "otherOptions": {}
      },
      "id": "slack-hitl",
      "name": "HITL Approval",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "history",
        "channelId": "approvals",
        "limit": 1
      },
      "id": "wait-for-approval",
      "name": "Wait for Approval (Logic)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1600,
        400
      ]
    }
  ],
  "connections": {
    "Orchestrator Trigger": {
      "main": [
        [
          {
            "node": "Master Planner AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Planner AI": {
      "main": [
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tasks": {
      "main": [
        [
          {
            "node": "Agent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Router": {
      "main": [
        [
          {
            "node": "Agent: Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Content": {
      "main": [
        [
          {
            "node": "HITL Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HITL Approval": {
      "main": [
        [
          {
            "node": "Wait for Approval (Logic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}