n8n-templates/Grain_Intelligent_CDP_v1.json
{
  "name": "Grain Intelligent CDP v1",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $vars.GRAIN_TENANT_ID || 'default' }}"
            },
            {
              "name": "dry_run",
              "value": "={{ $vars.GRAIN_DRY_RUN || false }}"
            },
            {
              "name": "webhook_prefix",
              "value": "={{ $vars.GRAIN_WEBHOOK_PREFIX || '/webhook' }}/{{ $workflow.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "grain-config-7z3otehwf",
      "name": "GRAIN_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -200,
        -200
      ],
      "notesInFlow": true,
      "notes": "🔧 Central Config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cdp-ingest",
        "options": {}
      },
      "id": "webhook-ingest",
      "name": "Data Ingestion Hook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "cdp-ingestion"
    },
    {
      "parameters": {
        "jsCode": "// Identity Resolution Mock\nconst event = $input.item.json;\nconst userId = event.userId || event.email;\n\n// Simulate fetching existing profile from database\nconst profile = {\n  id: userId,\n  ltv: 1200,\n  status: \"active\",\n  last_seen: new Date().toISOString(),\n  tags: [\"pro_user\", \"early_adopter\"]\n};\n\nreturn {\n  json: {\n    event: event,\n    merged_profile: profile\n  }\n};"
      },
      "id": "identity-res",
      "name": "Identity Resolution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Analyze user behavior event. Determine if this indicates a CHURN RISK or UPSELL OPPORTUNITY.\nOutput JSON: { \"signal\": \"CHURN_RISK\" | \"UPSELL\" | \"NEUTRAL\", \"confidence\": 0-100 }"
            },
            {
              "role": "user",
              "content": "Event: {{ JSON.stringify($json.event) }}\nProfile: {{ JSON.stringify($json.merged_profile) }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "ai-behavior",
      "name": "AI Behavioral Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.signal }}",
        "rules": {
          "rules": [
            {
              "value2": "CHURN_RISK",
              "output": 0
            },
            {
              "value2": "UPSELL",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "signal-router",
      "name": "Signal Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Customer_Profiles"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.merged_profile.id }}",
            "last_signal": "={{ $json.signal }}",
            "last_updated": "={{ $now.toISO() }}"
          }
        }
      },
      "id": "update-profile",
      "name": "Update Profile DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "channel": "customer-alerts",
        "text": "=🚨 **Churn Risk Detected**\nUser: {{ $json.merged_profile.id }}\nConfidence: {{ $json.confidence }}%",
        "otherOptions": {}
      },
      "id": "slack-churn",
      "name": "Notify CS Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1200,
        100
      ]
    }
  ],
  "connections": {
    "Data Ingestion Hook": {
      "main": [
        [
          {
            "node": "Identity Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identity Resolution": {
      "main": [
        [
          {
            "node": "AI Behavioral Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Behavioral Analysis": {
      "main": [
        [
          {
            "node": "Signal Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal Router": {
      "main": [
        [
          {
            "node": "Notify CS Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Profile DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Profile DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Profile DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}