subflows/Grain_Sub_AI_Executor.json
{
    "name": "Grain_Sub_AI_Executor",
    "nodes": [
        {
            "parameters": {
                "content": "## 🧠 Sub-workflow: AI Executor\nCentralized handling of AI requests to OpenAI/Anthropic/Ollama.",
                "height": 100,
                "width": 350,
                "color": 4
            },
            "id": "note-overview",
            "name": "Note: Overview",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                180,
                200
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "provider",
                            "value": "={{ $json.provider || 'openai' }}"
                        },
                        {
                            "name": "model",
                            "value": "={{ $json.model || 'gpt-4o' }}"
                        },
                        {
                            "name": "temperature",
                            "value": "={{ $json.temperature || 0.7 }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ai-config",
            "name": "AI Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                250,
                400
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.provider }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "openai",
                            "output": 0
                        },
                        {
                            "value2": "anthropic",
                            "output": 1
                        },
                        {
                            "value2": "ollama",
                            "output": 2
                        }
                    ]
                }
            },
            "id": "provider-switch",
            "name": "Provider Switch",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                500,
                400
            ]
        },
        {
            "parameters": {
                "model": "={{ $json.model }}",
                "prompt": "={{ $json.prompt }}",
                "temperature": "={{ $json.temperature }}"
            },
            "id": "openai-call",
            "name": "OpenAI Call",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "return { response: $input.first().json.text, tokens_used: $input.first().json.usage?.total_tokens || 0, provider: $json.provider, timestamp: new Date().toISOString() };"
            },
            "id": "response-normalizer",
            "name": "Response Normalizer",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                400
            ]
        }
    ],
    "connections": {
        "AI Config": {
            "main": [
                [
                    {
                        "node": "Provider Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Provider Switch": {
            "main": [
                [
                    {
                        "node": "OpenAI Call",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Call": {
            "main": [
                [
                    {
                        "node": "Response Normalizer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}