templates/Grain_Master_Orchestrator_v1.json
{
  "name": "Grain Master Orchestrator v1",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $vars.GRAIN_TENANT_ID || 'default' }}"
            },
            {
              "name": "dry_run",
              "value": "={{ $vars.GRAIN_DRY_RUN || false }}"
            },
            {
              "name": "webhook_prefix",
              "value": "={{ $vars.GRAIN_WEBHOOK_PREFIX || '/webhook' }}/{{ $workflow.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "grain-config-o3vrzul9m",
      "name": "GRAIN_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -200,
        -200
      ],
      "notesInFlow": true,
      "notes": "🔧 Central Config"
    },
    {
      "parameters": {
        "content": "## 🎛️ Master Orchestrator\nCentral hub that triggers workflow chains. Routes events to the correct pipeline.",
        "height": 100,
        "width": 350,
        "color": 4
      },
      "id": "note-overview",
      "name": "Note: Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator",
        "options": {}
      },
      "id": "webhook-main",
      "name": "Orchestrator Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "webhookId": "orchestrator"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.chain }}",
        "rules": {
          "rules": [
            {
              "value2": "customer_lifecycle",
              "output": 0
            },
            {
              "value2": "lead_to_revenue",
              "output": 1
            },
            {
              "value2": "hr_pipeline",
              "output": 2
            },
            {
              "value2": "ecommerce_funnel",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "route-chain",
      "name": "Route to Chain",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/nps-response",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}"
      },
      "id": "trigger-customer-lifecycle",
      "name": "Start: Customer Lifecycle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/lead-capture",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}"
      },
      "id": "trigger-lead-revenue",
      "name": "Start: Lead to Revenue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/submit-application",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}"
      },
      "id": "trigger-hr-pipeline",
      "name": "Start: HR Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/cart-abandoned",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}"
      },
      "id": "trigger-ecommerce",
      "name": "Start: E-commerce Funnel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        650
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"chain_initiated\", \"chain\": \"{{ $json.chain }}\", \"timestamp\": \"{{ $now.toISO() }}\" }",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        500,
        800
      ]
    },
    {
      "parameters": {
        "channel": "#orchestrator-alerts",
        "text": "=🚨 Orchestrator Error\n\nChain: {{ $json.chain }}\nError: {{ $json.execution.error.message }}",
        "otherOptions": {}
      },
      "id": "error-notify",
      "name": "Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        750,
        800
      ]
    }
  ],
  "connections": {
    "Orchestrator Webhook": {
      "main": [
        [
          {
            "node": "Route to Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Chain": {
      "main": [
        [
          {
            "node": "Start: Customer Lifecycle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start: Lead to Revenue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start: HR Pipeline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start: E-commerce Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start: Customer Lifecycle": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start: Lead to Revenue": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start: HR Pipeline": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start: E-commerce Funnel": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}