templates/Grain_Ecommerce_Orchestrator_v1.json
{
  "name": "Grain Ecommerce Orchestrator v1",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $vars.GRAIN_TENANT_ID || 'default' }}"
            },
            {
              "name": "dry_run",
              "value": "={{ $vars.GRAIN_DRY_RUN || false }}"
            },
            {
              "name": "webhook_prefix",
              "value": "={{ $vars.GRAIN_WEBHOOK_PREFIX || '/webhook' }}/{{ $workflow.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "grain-config-ji992qcwm",
      "name": "GRAIN_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -200,
        -200
      ],
      "notesInFlow": true,
      "notes": "🔧 Central Config"
    },
    {
      "parameters": {
        "content": "## 🛒 E-commerce Orchestrator\nManages inventory sync across channels and recovers abandoned carts with AI personalized offers.",
        "height": 100,
        "width": 350,
        "color": 4
      },
      "id": "note-overview",
      "name": "Note: Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-created",
        "options": {}
      },
      "id": "webhook-order",
      "name": "Order Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "webhookId": "order-created"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cart-abandoned",
        "options": {}
      },
      "id": "webhook-cart",
      "name": "Cart Abandoned",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        600
      ],
      "webhookId": "cart-abandoned"
    },
    {
      "parameters": {
        "jsCode": "const order = $input.item.json;\nreturn {\n  json: {\n    items: order.line_items.map(item => ({\n      sku: item.sku,\n      quantity: item.quantity,\n      new_stock: item.current_stock - item.quantity\n    }))\n  }\n};"
      },
      "id": "calc-stock",
      "name": "Calculate New Stock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "baseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "Inventory"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Stock": "={{ $json.new_stock }}"
          }
        }
      },
      "id": "update-airtable",
      "name": "Update Inventory DB",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a sales assistant. Generate a personalized abandoned cart email.\n\nContext:\n- Customer: {{ $json.customer_name }}\n- Items Left: {{ $json.line_items.map(i => i.title).join(', ') }}\n- Total Value: {{ $json.total_price }}\n\nGoal: Recover the sale. Offer a 10% discount code (COMEBACK10) if value > $100."
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "ai-recover",
      "name": "AI Draft Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        500,
        600
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Wait! You left something behind... 👀",
        "message": "={{ $json.email_content }}",
        "options": {}
      },
      "id": "send-recovery",
      "name": "Send Recovery Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        750,
        600
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        500,
        800
      ]
    },
    {
      "parameters": {
        "channel": "#ecommerce-alerts",
        "text": "=🚨 E-commerce Error\n\nError: {{ $json.execution.error.message }}",
        "otherOptions": {}
      },
      "id": "error-notify",
      "name": "Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        750,
        800
      ]
    }
  ],
  "connections": {
    "Order Created": {
      "main": [
        [
          {
            "node": "Calculate New Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate New Stock": {
      "main": [
        [
          {
            "node": "Update Inventory DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cart Abandoned": {
      "main": [
        [
          {
            "node": "AI Draft Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Draft Email": {
      "main": [
        [
          {
            "node": "Send Recovery Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}