templates/Grain_Multi_Platform_Publisher_v2.json
{
  "name": "Grain Multi-Platform Publisher v2",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $vars.GRAIN_TENANT_ID || 'default' }}"
            },
            {
              "name": "dry_run",
              "value": "={{ $vars.GRAIN_DRY_RUN || false }}"
            },
            {
              "name": "webhook_prefix",
              "value": "={{ $vars.GRAIN_WEBHOOK_PREFIX || '/webhook' }}/{{ $workflow.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "grain-config-wq72ddale",
      "name": "GRAIN_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -200,
        -200
      ],
      "notesInFlow": true,
      "notes": "🔧 Central Config"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Content_Calendar"
        },
        "options": {
          "range": "A:Z"
        }
      },
      "id": "read-calendar",
      "name": "Read Content Calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "published-check",
              "leftValue": "={{ $json.published }}",
              "rightValue": "FALSE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-posts",
      "name": "Filter Approved",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst scheduledTime = new Date($input.item.json.scheduled_datetime);\n\nif (scheduledTime <= now) {\n  return $input.item;\n}\nreturn [];"
      },
      "id": "check-time",
      "name": "Check Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert social media manager. Generate optimized captions for the following platforms based on the input content. Return ONLY a JSON object with keys: instagram, facebook, twitter, linkedin, tiktok, threads, reddit, quora, pinterest.\n\nRules:\n- Instagram: engaging, emojis, 30 hashtags\n- Twitter: Max 280 chars, punchy\n- LinkedIn: Professional, business focus\n- TikTok: Viral style, trending tags\n- Reddit: Informative, no marketing fluff\n"
            },
            {
              "role": "user",
              "content": "Original Content: {{ $json.original_caption }}\nTopic: {{ $json.topic }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "ai-caption-gen",
      "name": "AI Generate Captions",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.platforms }}",
        "rules": {
          "rules": [
            {
              "value2": "instagram",
              "output": 0
            },
            {
              "value2": "facebook",
              "output": 1
            },
            {
              "value2": "twitter",
              "output": 2
            },
            {
              "value2": "linkedin",
              "output": 3
            },
            {
              "value2": "tiktok",
              "output": 4
            }
          ]
        },
        "fallbackOutput": 5
      },
      "id": "platform-router",
      "name": "Platform Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/{{ $env.IG_USER_ID }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.captions.instagram }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            }
          ]
        }
      },
      "id": "post-instagram",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/{{ $env.PAGE_ID }}/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.captions.facebook }}"
            },
            {
              "name": "link",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FB_ACCESS_TOKEN }}"
            }
          ]
        }
      },
      "id": "post-facebook",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "content": "Placeholder for Twitter/X V2 API Posting",
        "height": 100,
        "width": 300
      },
      "id": "twitter-stub",
      "name": "Sticky Note Twitter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Content_Calendar"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "published": "TRUE",
            "published_at": "={{ $now.toISO() }}"
          }
        }
      },
      "id": "update-status",
      "name": "Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Read Content Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Calendar": {
      "main": [
        [
          {
            "node": "Filter Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Approved": {
      "main": [
        [
          {
            "node": "Check Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Time": {
      "main": [
        [
          {
            "node": "AI Generate Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Captions": {
      "main": [
        [
          {
            "node": "Platform Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Router": {
      "main": [
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}