templates/Grain_AI_Visual_Content_Generator_v1.json
{
  "name": "Grain AI Visual Content Generator v1",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $vars.GRAIN_TENANT_ID || 'default' }}"
            },
            {
              "name": "dry_run",
              "value": "={{ $vars.GRAIN_DRY_RUN || false }}"
            },
            {
              "name": "webhook_prefix",
              "value": "={{ $vars.GRAIN_WEBHOOK_PREFIX || '/webhook' }}/{{ $workflow.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "grain-config-ju8rbwcdi",
      "name": "GRAIN_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -200,
        -200
      ],
      "notesInFlow": true,
      "notes": "🔧 Central Config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-visual",
        "options": {}
      },
      "id": "webhook-visual",
      "name": "Visual Gen Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "visual-gen-webhook"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Analyze the prompt and select the BEST AI provider.\n\nProviders:\n- FLUX (Image, Fast)\n- KLING (Video, Motion)\n- RUNWAY (Video, Cinematic)\n- PIKA (Video, Animation)\n- LUMA (Video, 3D)\n- HIGGSFIELD (Video, Human)\n- VEO (Video, High Quality)\n\nOutput JSON:\n{ \"provider\": \"KLING\", \"optimized_prompt\": \"...\" }"
            },
            {
              "role": "user",
              "content": "Request: {{ $json.body.prompt }}\nType: {{ $json.body.type }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "ai-selector",
      "name": "AI Select Provider",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.provider }}",
        "rules": {
          "rules": [
            {
              "value2": "FLUX",
              "output": 0
            },
            {
              "value2": "KLING",
              "output": 1
            },
            {
              "value2": "RUNWAY",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "provider-router",
      "name": "Provider Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/v1/flux/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.PIAPI_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"prompt\": \"{{ $json.optimized_prompt }}\" }"
      },
      "id": "gen-flux",
      "name": "Generate FLUX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.klingai.com/v1/videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.KLING_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"kling-v1\", \"prompt\": \"{{ $json.optimized_prompt }}\" }"
      },
      "id": "gen-kling",
      "name": "Generate KLING",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runwayml.com/v1/deploy/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.RUNWAY_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"prompt\": \"{{ $json.optimized_prompt }}\" }"
      },
      "id": "gen-runway",
      "name": "Generate RUNWAY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        500
      ]
    },
    {
      "parameters": {},
      "id": "merge-outputs",
      "name": "Merge Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"started\", \"task_id\": \"{{ $json.id }}\", \"provider\": \"{{ $json.provider }}\" }",
        "options": {}
      },
      "id": "respond-api",
      "name": "Respond to API",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    }
  ],
  "connections": {
    "Visual Gen Request": {
      "main": [
        [
          {
            "node": "AI Select Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Select Provider": {
      "main": [
        [
          {
            "node": "Provider Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Router": {
      "main": [
        [
          {
            "node": "Generate FLUX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate KLING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate RUNWAY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate FLUX": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate KLING": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate RUNWAY": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Outputs": {
      "main": [
        [
          {
            "node": "Respond to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}