templates/Grain_Playwright_Competitor_Scraper_v1.json
{
    "name": "Grain Playwright Competitor Scraper v1",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Her 6 Saatte Calistir",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [240, 300]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://grain-playwright:3000/browser_navigate",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "url",
                            "value": "={{ $json.competitor_url }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "playwright-navigate",
            "name": "Rakip Siteyi Ac",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [460, 300]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://grain-playwright:3000/browser_snapshot",
                "sendBody": true,
                "options": {}
            },
            "id": "playwright-snapshot",
            "name": "Sayfa Snapshot Al",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [680, 300]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://grain-playwright:3000/browser_take_screenshot",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "fullPage",
                            "value": "true"
                        },
                        {
                            "name": "filename",
                            "value": "competitor-{{ $now.format('yyyy-MM-dd-HH-mm') }}.png"
                        }
                    ]
                },
                "options": {}
            },
            "id": "playwright-screenshot",
            "name": "Screenshot Kaydet",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [900, 200]
        },
        {
            "parameters": {
                "operation": "extractHtmlContent",
                "options": {}
            },
            "id": "html-extract",
            "name": "HTML Icerik Cikart",
            "type": "n8n-nodes-base.html",
            "typeVersion": 1.2,
            "position": [900, 400]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "messages": {
                    "values": [
                        {
                            "content": "=Asagidaki rakip website icerigini analiz et:\n\n{{ $json.content }}\n\nBu analizi yap:\n1. Ana deger onerisi (value proposition)\n2. Hedef kitle\n3. Fiyatlandirma stratejisi (varsa)\n4. Onemli ozellikler/USP'ler\n5. Zayif noktalar ve firsatlar\n6. Sosyal kanit (testimonials, badges)\n\nJSON formatinda yanit ver."
                        }
                    ]
                },
                "options": {
                    "temperature": 0.3
                }
            },
            "id": "ai-analyze",
            "name": "AI Rakip Analizi",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.6,
            "position": [1120, 300],
            "credentials": {
                "openAiApi": {
                    "id": "openai-cred",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": "public",
                "table": "competitor_analysis",
                "columns": "competitor_url,analysis_date,value_proposition,target_audience,pricing_strategy,key_features,weaknesses,opportunities,screenshot_path,raw_content",
                "options": {}
            },
            "id": "postgres-save",
            "name": "PostgreSQL Kaydet",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [1340, 300],
            "credentials": {
                "postgres": {
                    "id": "postgres-cred",
                    "name": "PostgreSQL Grain"
                }
            }
        },
        {
            "parameters": {
                "channel": "#competitor-intel",
                "text": "=:mag: *Yeni Rakip Analizi*\n\n*Site:* {{ $json.competitor_url }}\n*Tarih:* {{ $now.format('dd.MM.yyyy HH:mm') }}\n\n*Value Proposition:*\n{{ $json.analysis.value_proposition }}\n\n*Firsatlar:*\n{{ $json.analysis.opportunities }}",
                "otherOptions": {}
            },
            "id": "slack-notify",
            "name": "Slack Bildirim",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [1560, 300],
            "credentials": {
                "slackApi": {
                    "id": "slack-cred",
                    "name": "Slack API"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://grain-playwright:3000/browser_close",
                "options": {}
            },
            "id": "playwright-close",
            "name": "Browser Kapat",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1780, 300]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "competitor_url",
                            "value": "={{ $json.url }}"
                        }
                    ]
                }
            },
            "id": "set-competitor",
            "name": "Rakip URL Set",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [240, 500]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.error }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "empty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "error-check",
            "name": "Hata Kontrol",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.1,
            "position": [1120, 500]
        },
        {
            "parameters": {
                "errorMessage": "=Playwright hatasi: {{ $json.error }}"
            },
            "id": "error-handler",
            "name": "Hata Handler",
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [1340, 600]
        }
    ],
    "connections": {
        "Her 6 Saatte Calistir": {
            "main": [
                [
                    {
                        "node": "Rakip Siteyi Ac",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rakip Siteyi Ac": {
            "main": [
                [
                    {
                        "node": "Sayfa Snapshot Al",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sayfa Snapshot Al": {
            "main": [
                [
                    {
                        "node": "Screenshot Kaydet",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "HTML Icerik Cikart",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTML Icerik Cikart": {
            "main": [
                [
                    {
                        "node": "AI Rakip Analizi",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Rakip Analizi": {
            "main": [
                [
                    {
                        "node": "Hata Kontrol",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hata Kontrol": {
            "main": [
                [
                    {
                        "node": "PostgreSQL Kaydet",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Hata Handler",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgreSQL Kaydet": {
            "main": [
                [
                    {
                        "node": "Slack Bildirim",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Slack Bildirim": {
            "main": [
                [
                    {
                        "node": "Browser Kapat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rakip URL Set": {
            "main": [
                [
                    {
                        "node": "Rakip Siteyi Ac",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": "Grain_Self_Healing_Pipeline_v1"
    },
    "meta": {
        "grain_module": "vibe_marketing",
        "grain_tier": "High",
        "grain_version": "1.0.0",
        "grain_language": "tr",
        "grain_features": [
            "playwright-automation",
            "competitor-analysis",
            "ai-insights",
            "screenshot-capture"
        ],
        "grain_mcp_enabled": true,
        "description": "Playwright MCP ile rakip website analizi - screenshot, AI analiz, veritabani kayit"
    }
}
